<button type="button" id="buttonalert">alert</button>
<button type="button" id="buttonstr">string</button>
<button type="button" id="buttonnumb">number</button>
<button type="button" id="buttonbool">boolean</button>
<button type="button" id="buttonundefined">undefined</button>
<button type="button" id="buttonnull">null</button>
<button type="button" id="buttonobject">object</button>
