<section class="posts">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="posts__list">

        </div>
      </div>
      <div class="col-6">
        <div class="posts__filters">

        </div>
      </div>
    </div>
  </div>
</section>
