<section class="about">
   <div class="container">
    <div class="col-xs-12 col-sm-12 col-md-12">
       <div class="about__review">
         <h2>"</h2>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus ea eius dolore provident? Quisquam repellendus eligendi excepturi quod error perferendis, dolore veniam nam nihil ab quibusdam necessitatibus aliquid ipsam aperiam.</p>
         <p class="name">Linda Steward</p>
       </div>
       <div class="about__social">
         <a class="social__item" href="#" target="_blank">
          <img src="./img/facebook-f-brands.svg" alt=""></a> 
         <a class="social__item" href="#" target="_blank">
          <img src="./img/twitter-brands.svg" alt=""></a>
         <a class="social__item" href="#" target="_blank">
          <img src="./img/instagram-brands.svg" alt=""></a>
         <a class="social__item" href="#" target="_blank">
          <img src="./img/pinterest-p-brands.svg" alt=""></a>
         <a class="social__item" href="#" target="_blank">
          <img src="./img/google-plus-g-brands.svg" alt=""></a>
        </div>
     </div>
   </div>
</section>