<section class="booking">    
    <div class="container">
        <div class="booking__title">
          <h2>Book here</h2>
        </div>
          <form class="booking__form" action="">
            <div class="row">
            <div class="col-xs-4 col-sm-12 col-md-12">
                <div class="booking__item">
                  <label>How many people?</label>
                  <select>
                    <option>1 people</option>
                    <option>2 people</option>
                    <option>3 people</option>
                    <option>4 people</option>
                    <option>5 people</option>
                  </select>
                  <label>Name</label>
                  <input type="text" placeholder="Full name">
                </div>
            </div>
            <div class="col-xs-4 col-sm-12 col-md-12">
                <div class="booking__item">
                  <label>When is your date?</label>
                  <input type="date">
                  <label>Email</label>
                  <input type="email" placeholder="Your email address">
                </div>
            </div>
            <div class="col-xs-4 col-sm-12 col-md-12">
                <div class="booking__item">
                    <label>Time</label>
                    <input type="time">
                    <label>Phone</label>
                    <input type="text" placeholder="Your phone">
                </div>
            </div>
            <button class="btn2" type="submit">Submit</button>
            </div>
         </form>
    </div>
</section>