<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-12 col-md-12">
        <div class="footer__info">
             <h2>About</h2>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tenetur expedita fugiat debitis sint. Consectetur tenetur expedita fugiat debitis sint.</p>
        </div>
      </div>
   
      <div class="col-xs-6 col-sm-12 col-md-12">
        <div class="footer__box">
          <div class="footer__box--item">
            <h3>About</h3>
            <p>
              <a href="">Team</a><br>
              <a href="">Join us</a><br>
              <a href="">Ethic</a><br>
              <a href="">Goals</a>
            </p>
          </div>  
          <div class="footer__box--item">
            <h3>About</h3>
            <p>
              <a href="">Team</a><br>
              <a href="">Join us</a><br>
              <a href="">Ethic</a><br>
              <a href="">Goals</a>
            </p>
          </div>  
          <div class="footer__box--item">
            <h3>About</h3>
            <p>
              <a href="">Team</a><br>
              <a href="">Join us</a><br>
              <a href="">Ethic</a><br>
              <a href="">Goals</a>
            </p>
          </div>
        </div>
      </div>
      </div> 
    </div>
</footer>