    <!-- HEADER -->
    <header class="header">
      <div class="container">
        <div class="row">
          <div class="header__logo">Brunch</div>
          <button class="open__burger"><img src="./img/bars-solid.svg" alt=""></button>
          <nav class="header__navigation">
            <ul>
              <li><a href="/">Welcome</a></li>
              <li><a href="/">Menu</a></li>
              <li><a href="/">Events</a></li>
              <li><a href="/">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="nav__burger">
        <div class="nav__burger--item">
          <button class="nav__burger--close">X</button>
          <a href="/" class="burger__mobil">Welcome</a>
          <a href="/" class="burger__mobil">Menu</a>
          <a href="/" class="burger__mobil">Events</a>
          <a href="/" class="burger__mobil">Contact</a>
        </div>
      </div>
    </header>