  <section class="india">
    <div class="container">
        <div class="discover__menu">
            <div class="discover__title">
                <p><span>India</span><br>On your plate</p>
            </div>
        <div class="row">
            <div class="col-xs-6 col-sm-12 col-md-12">
                <div class="menu__description--item">
                    <div class="plate__img">
                        <img src="./img/m__1.png" alt="">
                    </div>
                    <div class="plate__description">
                        <h2>Tikka chicken</h2>
                        <p>Lorem,  nisi ut aliquip ipsum dolor, laboris nisi ut aliquip adipisicing elit.</p> 
                        <p><a href = "/">$14.95</a></p>
                    </div>
                </div>
                <div class="menu__description--item">
                    <div class="plate__img">
                        <img src="./img/m__2.png" alt="">
                    </div>
                    <div class="plate__description">
                        <h2>Chicken curry</h2>
                        <p>Lorem,  nisi ut aliquip ipsum dolor, laboris nisi ut aliquip adipisicing elit.</p> 
                        <p><a href = "/">$14.95</a></p>
                    </div>
                </div>
                <div class="menu__description--item">
                    <div class="plate__img">
                        <img src="./img/m__3.png" alt="">
                    </div>
                    <div class="plate__description">
                        <h2>Spicy veggies</h2>
                        <p>Lorem,  nisi ut aliquip ipsum dolor, laboris nisi ut aliquip adipisicing elit.</p> 
                        <p><a href = "/">$14.95</a></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-12 col-md-12">
                <div class="menu__description--item">
                    <div class="plate__img">
                        <img src="./img/m__4.png" alt="">
                    </div>
                    <div class="plate__description">
                        <h2>Spicy wedges</h2>
                        <p>Lorem,  nisi ut aliquip ipsum dolor, laboris nisi ut aliquip adipisicing elit.</p> 
                        <p><a href = "/">$14.95</a></p>
                    </div>
                </div>
                <div class="menu__description--item">
                    <div class="plate__img">
                        <img src="./img/m__5.png" alt="">
                    </div>
                    <div class="plate__description">
                        <h2>Red curry</h2>
                        <p>Lorem,  nisi ut aliquip ipsum dolor, laboris nisi ut aliquip adipisicing elit.</p> 
                        <p><a href = "/">$14.95</a></p>
                    </div>
                </div>
                <div class="menu__description--item">
                    <div class="plate__img">
                        <img src="./img/m__6.png" alt="">
                    </div>
                    <div class="plate__description">
                        <h2>Spicy mix</h2>
                        <p>Lorem,  nisi ut aliquip ipsum dolor, laboris nisi ut aliquip adipisicing elit.</p> 
                        <p><a href = "/">$14.95</a></p>
                    </div>
                </div>
               </div>
            </div>
        </div>
    </div>
  </section>