<section class = "menu">
    <div class="discover">
      <div class="container">
      
        <div class="discover__title">
          <p><span>Discover</span><br>Our new menu</p>
        </div>
        
        <div class="row">
        <div class="col-xs-6 col-sm-12 col-md-12">
          <div class="menu__item">
            <div class="menu__item--img">
              <img src="./img/dm__1.png" alt="">
            </div>
            <div class="menu__item--description">
              <h2>Tikka chicken</h2>
              <p>Lorem,  nisi ut aliquip ipsum dolor, laboris nisi ut aliquip adipisicing elit. <a href = "/">$14.95</a></p>
            </div>
          </div>
          <div class="menu__item">
            <div class="menu__item--img">
              <img src="./img/dm__2.png" alt="">
            </div>
            <div class="menu__item--description">
              <h2>Plain papadums</h2>
              <p>Lorem,  nisi ut aliquip ipsum dolor, laboris nisi ut aliquip adipisicing elit. <a href = "/">$1.95</a></p>
            </div>
          </div>
          <div class="menu__item">
            <div class="menu__item--img">
              <img src="./img/dm__3.png" alt="">
            </div>
            <div class="menu__item--description">
              <h2>Chicken curry</h2>
              <p>Lorem,  nisi ut aliquip ipsum dolor, laboris nisi ut aliquip adipisicing elit. <a href = "/">$12.95</a>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-12 col-md-12">
          <div class="menu__item">
            <div class="menu__item--img">
              <img src="./img/dm__4.png" alt="">
            </div>
            <div class="menu__item--description">
              <h2>Soup of the day</h2>
              <p>Lorem,  nisi ut aliquip ipsum dolor, laboris nisi ut aliquip adipisicing elit. <a href = "/">$7.95</a></p>
            </div>
          </div>
          <div class="menu__item">
            <div class="menu__item--img">
              <img src="./img/dm__5.png" alt="">
            </div>
            <div class="menu__item--description">
              <h2>Yellow curry</h2>
              <p>Lorem,  nisi ut aliquip ipsum dolor, laboris nisi ut aliquip adipisicing elit. <a href = "/">$15.95</a></p>
            </div>
          </div>
          <div class="menu__item">
            <div class="menu__item--img">
              <img src="./img/dm__6.png" alt="">
            </div>
            <div class="menu__item--description">
              <h2>Spicy meatballs</h2>
              <p>Lorem,  nisi ut aliquip ipsum dolor, laboris nisi ut aliquip adipisicing elit. <a href = "/">$18.95</a></p>
            </div>
          </div>
        </div>
       </div>
      </div>
    </div>
</section>