<section class="new__cards">
          <div class="container">
            <div class="discover__title">
              <p><span>Discover</span><br>Our new menu</p>
            </div>
            <div class="new__card">
              <div class="col-xs-4 col-sm-12 col-md-12">
                <div class="new__card--item">
                    <div class="new__card--img">
                      <img src="./img/dc__1.png" alt="">
                    </div>
                    <div class="new__card--description">
                      <p class="fz13">Food / 16th March, 2019</p>
                      <h3>Lorem ipsum dolor sit</h3>
                      <p>Lorem,  nisi ut aliquip ipsum dolor, laboris nisi ut aliquip adipisicing elit.</p> 
                      <a class="section__title" href = "/">Read more</a>
                    </div>
                </div>
              </div>
              <div class="col-xs-4 col-sm-12 col-md-12">
                <div class="new__card--item">
                  <div class="new__card--img">
                    <img src="./img/dc__2.png" alt="">
                  </div>
                  <div class="new__card--description">
                    <p class="fz13">Food / 16th March, 2019</p>
                    <h3>Lorem ipsum dolor sit</h3>
                    <p>Lorem,  nisi ut aliquip ipsum dolor, laboris nisi ut aliquip adipisicing elit.</p> 
                    <a class="section__title" href = "/">Read more</a>
                  </div>
                </div>
              </div> 
              <div class="col-xs-4 col-sm-12 col-md-12">
                <div class="new__card--item">
                  <div class="new__card--img">
                    <img src="./img/dc__3.png" alt="">
                  </div>
                  <div class="new__card--description">
                    <p class="fz13">Food / 16th March, 2019</p>
                    <h3>Lorem ipsum dolor sit</h3>
                    <p>Lorem,  nisi ut aliquip ipsum dolor, laboris nisi ut aliquip adipisicing elit.</p> 
                    <a class="section__title" href = "/">Read more</a>
                  </div>
                </div>
              </div> 
            </div>
        </div>
</section>