<section class="threeColumnSection">
    <div class="container">
      <div class="row">
        <div class="col-xs-4 col-sm-12 col-md-12">
          <div class="threeColumnSection__item">
            <div class="threeColumnSection__item--circle">
              <span></span>
            </div>
            <h2>New tastes</h2>
            <p>Lorem ipsum dolor sit amet consectetur, laboris nisi ut aliquip adipisicing elit. Praesentium harum laboris nisi ut aliquip quibusdam molestiae.</p>
          </div>
        </div>
        <div class="col-xs-4 col-sm-12 col-md-12">
          <div class="threeColumnSection__item">
            <div class="threeColumnSection__item--circle">
              <span></span> <span></span>
            </div>
            <h2>New spices</h2>
            <p>Lorem ipsum dolor sit amet consectetur, laboris nisi ut aliquip adipisicing elit. Praesentium harum laboris nisi ut aliquip quibusdam molestiae.</p>
          </div>
        </div>
        <div class="col-xs-4 col-sm-12 col-md-12">
          <div class="threeColumnSection__item">
            <div class="threeColumnSection__item--circle">
              <span></span> <span></span> <span></span>
            </div>
            <h2>New dishes</h2>
            <p>Lorem ipsum dolor sit amet consectetur, laboris nisi ut aliquip adipisicing elit. Praesentium laboris nisi ut aliquip harum quibusdam molestiaew.</p>
          </div>
        </div>
      </div>
    </div>
</section>