<section class="tradicionalCuisine">
    <div class="container">
      <div class="traditional__description">
        <h2>Traditional cuisine made easy</h2>
        <p>Lorem, nisi ut laboris nisi ut aliquip, adipisicing elit aliquip ipsum dolor, laboris nisi ut aliquip adipisicing elit.Lorem, nisi ut laboris nisi ut aliquip, adipisicing elit aliquip ipsum dolor.</p>
      </div>
      <div class="traditional__circle">
        <span></span> <span></span> <span></span>
      </div>
      <nav class="traditional__navigation">
        <ul>
          <li><a href="/">Meals</a></li>
          <li><a href="/">Spices</a></li>
          <li><a href="/">Book</a></li>
          <li><a href="/">Gallery</a></li>
        </ul>
      </nav>
    </div>
</section>