<section class="twoColumnSection">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-12 col-md-12">
        <div class="twoColumnSection__item">
          <h2>Indian tradicional flavours</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
      <div class="col-xs-6 col-sm-12 col-md-12">
      <div class="twoColumnSection__img">
        <img src="./img/Place-Your-Design-Here.png">
      </div>
      </div>
    </div>
  </div>
</section>