body {
  background: white;
}

h1 {
  text-align: center;
  padding-top: 100px;
  font-size: 80px;
  font-family: 'Times New Roman', Times, serif;
}

.G {
  color: blue;
}

.o {
  color: red;
}

.o2 {
  color: yellow;
}

.g2 {
  color: blue;
}

.l {
  color: green;
}

.e {
  color: red;
}

.line {
  display: flex;
  padding: 10px;
  width: 700px;
  border: 1px solid #dfe1e5;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
}

.poisk {
  flex: 1;
}

.cline {
  flex: 8;
  color: gray;
}

.micro {
  flex: 1;
}

.images {
  display: flex;
}

.left {
  flex: 3;
}

.right {
  flex: 3;
}

.lastpages {
  flex: 6;
  text-align: center;
  margin: 0 auto;
  display: flex;
  padding-top: 40px;

}

.googleP {
  flex: 2;
  border-radius: 50%;
}

.gmail {
  flex: 2;
  border-radius: 50%;
}

.vknews {
  flex: 2;
  border-radius: 50%;
}

.tut {
  flex: 2;
  border-radius: 50%;
}

.yandex {
  flex: 2;
  border-radius: 50%;
}

.names {
  display: flex;
  padding-left: 100px;
}

.GP {
  flex: 2
}

.gm {
  flex: 2
}

.vkont {
  flex: 2
}

.TT {
  flex: 2
}

.Yand {
  flex: 2
}