<div class="Slick-Carousel">
  <div class="Slick-Carousel__item">
    <img src="images/evo.jpg" alt="">
  </div>
  <div class="Slick-Carousel__item1">
    <img src="images/r34.jpg" alt="">
  </div>
  <div class="Slick-Carousel__item">
    <img src="images/subaru.jpg" alt="">
  </div>
  <div class="Slick-Carousel__item1">
    <img src="images/silvia.png" alt="">
  </div>
  <div class="Slick-Carousel__item">
    <img src="images/r32.jpg" alt="">
  </div>
</div>
