<!DOCTYPE html>
<html>

<head lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>DZ #24</title>

</head>

<body>

   <h1>dz #24</h1> 
{{!-- 
    {{> _partials/example1 }} 

    {{> _partials/example2 }} 

    {{> _partials/example3 }}  --}}

    {{> _partials/lesson-24 }} 

</body>
</html>