<!DOCTYPE html>
<html>

<head lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Test</title>

</head>

<body>
    {{> _partials/usersList}}
    {{> _partials/modalWindow}}
</body>
</html>
