.text {
    text-align: center;
}

h1 {
    color: grey;
}

#modal {
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.modalpage {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
}

.modalheader {
    display: flex;
}

h3 {
    flex: 9;
}

#btn2 {
    flex: 1;
    width: 20px;
    height: 20px;
    border: 1px solid #b41616;

}

.modalbody {
    padding-top: 40px;
    padding-bottom: 20px;
}