html,
body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

.google {
    padding-top:10%;
}

.google img {
    max-width: 30vw;
    max-height: 30vh;
}

.search .loop,
.search button,
.voice_search img{
    width: 30px;
    height: 30px;
}

.voice_search {
    border: none;
    background-color: transparent;
}

.voice_search:hover {
    cursor: pointer;
}


.input_string {
    width: 40vw;
}

.search_wrapper {
    border: 1px solid #dddddd;
    width: 50vw;
    border-radius: 30px;
}

.search_wrapper:hover {
    box-shadow: 0 0 10px 2px #dddddd;
}


.favourits {
    width: 45vw;
}

.icon_wraper {
    margin: 0 auto;
    background-color: #eeeeee;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

.icon_wraper img {
    width: 40px;
    height: 40px;
}

.icon_name {
    color: #000!important;
}

.icon {
    position: relative;
    width: 120px;
    height: 140px;
}

.icon:hover {
    text-decoration: none;
    background-color: #eeeeee;
    border-radius: 5px;
}

.additional{
    display: none;
    position: absolute;
    left: 90%;
    top: 15px;
}
.additional>span,
.additional>span:before,
.additional>span:after {
    
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #bbbbbb;
}

.additional>span:before{
    content: "";
    top: 5px;
}

.additional>span:after {
    content: "";
    top: -5px;
}

.modWindow {
    padding: 33vh 0;
    display:none; 
    position: absolute;
    z-index: 100;
    background-color: rgba(0,0,0,0.5);
    top: 0vh;

}

.modWindow_wrapper {
    margin: 0 auto;
    width: 400px;
    height: 300px;
    background-color: #eeeeee;
    border-radius: 10px;
}


.form-group {
    font-size: 13px;
}

.form-group input {
    border: 0;
}

.cancel,
.delete,
.ok {
    font-weight: 600!important;
   
}

.cancel,
.delete {
    background-color: #fff!important;
}

.cancel:hover,
.delete:hover {
    background-color: #f7f8f9!important;
    color: #007bfc !important;
}


