

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 1200px;
    margin: auto;
}

ul {
    width: 1200px;
    padding-left: 0px;
}
 
li {
    display: inline;
    margin-right: 40px;
    border: 0px solid rgb(61, 56, 56);
    border-radius: 25px;
    padding: 7px 5px 7px 5px;
}

button {
    padding: 13px 22px 13px 22px;
    margin: 10px 20px;
    background-color: white;
    border: 0px outset rgba(62, 54, 87, 50);
    border-radius: 40px;
    box-shadow: 0px 3px 1px 3px rgba(185, 184, 184, 0.322);

}

.arrow {
    opacity: 0.5;
}


a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    color:black;
    background:#8b8a8a;
    box-shadow: 7px 5px 7px 5px #8b8a8a;
}

#allcontent {
    margin-left: 0px;
}

h2 {
    margin-top: 70px;
    font-size: 170%;
    color: #3f3d3d;
    width: 600px;

}
select {
    margin: 15px;
    font-size: 110%;
    width: 200px;
    border: 1px double #942281;
    border-radius: 15px;

}