body {
  margin: 0;
  padding: 0;
  background-color: #2a3b40;
  font-family: 'Raleway', 'Cookie', 'Encode Sans', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  margin: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

a {
  text-decoration: none;
}

h1:hover,
h2:hover,
h3:hover,
p span:hover {
cursor: pointer;
text-decoration: underline;
}

img {
  width: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}


/* COL */

.col-xs-3 {
  width: 25%;
}
.col-xs-4 {
  width: 33%;
}
.col-xs-6 {
  width: 50%
}
.col-xs-12 {
  width: 100%;
}


/* HEADER */

.header {
	width: 100%;
	padding-top: 50px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.header__logo,
.header__navigation a {
	font-size: 30px;
	font-weight: 700;
  text-transform: uppercase;
  color: rgb(169, 169, 170);
}

.header a:hover,
.banner a:hover {
  -webkit-box-shadow: 0px 0px 19px 6px rgba(97, 184, 179,0.74); 
  box-shadow: 0px 0px 19px 6px rgba(97, 184, 179, 0.74);
  color: rgb(169, 169, 170);
}

.header__navigation ul {
  display: flex;
}

nav.header__navigation li {
  padding-top: -50px;
  padding-left: 30px;
  list-style-type: none;
}

nav.header__navigation li:hover {
  border-bottom: 4px  #1C6EA4;
}

nav.header__navigation li:last-child {
  padding-right: 30px;
}


/* BURGER MENU */

.open__burger {
  display: none;
  color: #a0a6a8;
  padding-right: 5%;
}

.nav__burger {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  position: fixed;
  z-index: 1;
  overflow: auto;
  background-color: rgba(0,0,0,0.1);
}

.nav__burger--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #70d32eea;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  min-height: 40vh;
}

.nav__burger--close {
  font-size: 40px;
}

.burger__mobil {
  font-size: 40px;
}


/* BANNER */

.banner {
  min-height: 100vh;
  background: 
  url('../img/menu/11.png')
  center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner__description {
  padding: 50px;
  margin: 0 auto;
  background: #ffffffb4;
  text-align: center;
}

.banner h1 {
  font-family: 'Cookie';
  font-size: 70px;
  font-weight: normal;
  color: #2c3a42;
  margin-top: -10px;
}

.banner p {
  font-family: 'Raleway';
  font-size: 60px;
  color: #ad6c12;
  text-transform: uppercase;
  margin-top: -60px;
  margin-bottom: 15px;
}

.banner a:hover {
  color: #030303 !important;
}

.banner__description--more {
  font-size: 30px;
  color:#26363a;
  text-transform: uppercase;
  border: none;
  background-color: #fff;
  padding: 10px;
}


/* TwoColumnSection */

.twoColumnSection {
  background-color: #2a3b40;
  padding: 35px 0;
}

.twoColumnSection .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.twoColumnSection__item {
  color: white;
  margin-right: 20px;
}

.twoColumnSection__item p {
  opacity: 0.6;
  line-height: 2;
}


/* ThreeColumnSection */

.threeColumnSection {
  background: #d4d8d9;
  padding: 40px 0;
  color:  #2a3b40;
  line-height: 2;
}

.threeColumnSection__item {
  margin-right: 20px;
}

.threeColumnSection__item--circle span {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #2a3b40;
}

.threeColumnSection h2 {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.threeColumnSection p {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}


/* INDIA */

.india {
  background: url('../img/menu/bckg_menu.png')
  center no-repeat;
  background-size: cover;
  padding: 40px 0;
}

.discover__menu {
  background: #ffffffb4;
  text-align: center;
}

.menu__description--item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  margin: 0;
}

.menu__description--item a {
  color: #26292b;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}

.india a:hover,
.tradicionalCuisine a:hover {
  -webkit-box-shadow: 0px 0px 19px 4px rgba(224, 22, 22, 0.74); 
  box-shadow: 0px 0px 19px 4px rgba(224, 22, 22, 0.74);
  color: #000;
}

.menu__description--item:nth-child(2) {
  display: flex;
  flex-direction: row-reverse;
}

.plate__description {
  width: 50%;
  text-align: center;
}

.plate__img {
    width: 50%;
}


/* TradicionalCuisine */

.tradicionalCuisine {
  background: url('../img/traditionalCuisine/bg_tradicional.png')
  center no-repeat;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 40px 0;
}

.traditional__description {
  text-align: center;
}

.traditional__description p {
  opacity: 0.6;
  max-width: 60%;
  margin: 0 auto;
}

.traditional__circle {
  margin: 30px 0;
  text-align: center;
}

.traditional__circle span {
  display: inline-block;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: #2a3b40;
}

.traditional__navigation {
  display: flex;
  justify-content: center;
}

.traditional__navigation ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  width: 400px;
  padding-left: 0;
}

nav.traditional__navigation li {
  font-weight: bold;
}

.traditional__navigation a:hover {
  color: #000;
}

.traditional__navigation a {
  font-size: 15px;
  font-weight: 700;
  color: #2a3b40;
}


/* MENU DISCOVER */

.menu {
  background: url('../img/traditionalCuisine//bckg__disc.png')
              center no-repeat;
  background-size: cover;
  padding-top: 20vh;
}

.discover {
  background: #ffffffb4;
  text-align: center;
} 

.discover__title {
  padding-top: 1rem;
}

.discover__title p {
  font-family: 'Raleway';
  font-size: 40px;
  color: #ad6c12;
  text-transform: uppercase;
}

.discover__title span {
  font-family: 'Cookie';
  font-size: 60px;
  color: #2c3a42;
  text-transform: none;
}

.menu__item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-align: left;
  margin: 0;
  width: 100%;
}

.menu__item--description h2,
.menu__item a {
  color: #26292b;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
}
.menu__item a {
  color: #26292b;
  font-weight: bold;
}

.menu__item a:hover {
  -webkit-box-shadow: 0px 0px 19px 4px rgb(21, 52, 226); 
  box-shadow: 0px 0px 19px 4px rgba(21, 52, 226);
  color: #000;
}

.menu__item p {
  color: #26292b8e;
  font-size: 16px;
  font-weight: bold;
}

.menu__item > div {
  margin: 10 10px;
}

.menu__item--img {
  width: 85px;
}


/* BOOKING */

.first__bckg {
  height: 80vh;
  background: url(../img/booking/first__bckg.png);
  background-size: cover;
}

.second__bckg {
  height: 80vh;
  background: url(../img/booking/second__bckg.png);
  background-size: cover;
}

.booking {
  background-color: #2a3b40;
}

.booking__title h2 {
  font-family: 'Cookie';
  font-size: 70px;
  text-align: center;
  font-weight: normal;
  color: #fff;
}

.booking__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}

.booking__item input,
.booking__item select,
.booking button {
  color: #fff;
  padding: 7px 0 7px 5px;
  background-color: #2a3b40;
  border: 2px solid #fff;
  border-radius: 10px;
  margin-bottom: 40px;
  font-size: 15px;
  outline: none;
  width: 240px;
}

.booking button {
  align-items: center;
  margin: 0 auto;
  text-transform: uppercase;
}

.toBook__form-item input:focus, .toBook__form-item select:focus {
  background-color: #fff;
  color: #000;
  -webkit-transition: .1s ease;
  transition: .1s ease;
}

.booking__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
  
label {
 font-size: 20px;
 color: #fff;
} 

.booking__item input::-webkit-inner-spin-button {
  display: none;
}

.booking__item input::-webkit-calendar-picker-indicator {
  background: none;
}

.booking__item input::-webkit-input-placeholder {
  color: #fff;
}

.booking__item input:-ms-input-placeholder {
  color: #fff;
}

.booking__item input::-ms-input-placeholder {
  color: #fff;
}

.booking__item input::placeholder {
  color: #fff;
}


/* NEW__CARDS */

.new__cards {
  background: #d4d8d9;
}

.new__cards .discover__title {
  text-align: center;
}

.new__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
} 

.new__card--item {
  background-color: #fff;
  width: 90%;
  margin: 25px;
}

.new__card--description {
  padding: 20px;
  font-size: 14px;
} 

.new__card--description img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.new__card--description p {
  color:#555555;
}

.new__card--description p.fz13 {
  font-size: 13px;
  color: #000;
  }
  
.new__card--description a {
  text-transform: uppercase;
  color:#363636;
  border-bottom: 7px solid #ff992b;
} 

.new__card--description a:hover {
  -webkit-box-shadow: 0px 0px 19px 4px rgb(21, 52, 226); 
  box-shadow: 0px 0px 19px 4px rgba(21, 52, 226);
  color: #000;
}


/* ABOUT */

.about {
  color: #fff;
}

.about__review {
  text-align: center;
}

.about__review h2{
  font-size: 40px;
  font-family:  serif;
}

.about__review p {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  padding: 0 5%; 
  color: rgba(255, 255, 255, 0.712);
}

.about__review p.name {
  font-size: 16px;
  color: #fff;
}

.about__social {
	display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.social__item {
  width: 30px;
  height: 30px;
	padding: 12px 15px;
	background-color: #fff;
	border-radius: 50%;
	font-size: 30px;
  color: #2a3b40;
  margin: 3% 1%;
  text-decoration: none;
}

.social__item:hover {
	background-color: #f38181be;
  -webkit-box-shadow: 0px 0px 19px 6px rgba(213, 226, 21, 0.856); 
  box-shadow: 0px 0px 19px 6px rgba(213, 226, 21, 0.856);
}


/* FOOTER */

footer {
  background: #ffffffb4;
  padding: 40px 0;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
}

.footer__box--item {
  display: block
}

footer h2,
footer h3 {
  padding-top: 70px;
  font-weight: bold;
  font-size: 18px; 
  text-transform: uppercase;
}

footer p {
  font-size: 15px;
  color: rgb(66, 65, 65);
}

footer a {
  text-decoration: none;
  color: #12191b;
  font-size: 15px;
}

footer a:hover {
  cursor: pointer;
  text-decoration: underline;  
  -webkit-box-shadow: 0px 0px 19px 6px rgba(168, 48, 48, 0.61); 
  box-shadow: 0px 0px 19px 6px rgba(168, 48, 48, 0.61);
}


/* ADAPTIVE */

@media (min-width: 1201px) and (max-width: 1400px) {
  .container {
    width: 1170px;
  }
  
   /* BURGER */
   
   .fas.fa-bars,
   .nav__burger--close,
   .burger__mobil {
     font-size: 50px;
   }

}

@media (min-width: 1024px) and (max-width: 1199px) {
  .container {
    width: 994px;
  }
 
   /* BURGER */
   
  .fas.fa-bars,
  .nav__burger--close,
  .burger__mobil {
    font-size: 40px;
  }

}

@media (min-width: 768px) and (max-width: 1023px) {

  .container {
    width: 738px;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-6 {
    width: 50%;
  }

  /* HEADER */

  .header__navigation {
    display: none;
  }
  
  /* BURGER */

  .open__burger {
    display: block;
  }

  .fas.fa-bars,
  .nav__burger--close,
  .burger__mobil {
    font-size: 30px;
  }

  /* twoColumnSection */
  
  .twoColumnSection__item {
    text-align: center;
  
  }

  /* threeColumnSection */

  .threeColumnSection__item {
    text-align: center;
  }

  /* INDIA */
  
  .menu__description--item:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
  }

  /* FOOTER */

  footer h2,
  footer p {
    text-align: center;
  }

}

@media (min-width: 576px) and (max-width: 767px) {

  * {
    font-size: 13px;
  }

  .container {
    width: 546px;
  }

  .col-sm-12 {
    width: 100%;
  }
  
  .col-sm-6 {
    width: 50%;
  }

  /* HEADER */

  .header__logo {
    padding-left: 2%;
  }

  .header__navigation {
    display: none;
  }
  
  /* BURGER */

  .open__burger {
    display: block;
  }

  .nav__burger--close,
  .burger__mobil {
    font-size: 20px;
  }

  .fas.fa-bars {
    font-size: 26px;
  }

  /* BANNER */

  .banner {
    min-height: 70vh;
  }
  
  .banner__description {
    padding: 15px;
  }

  .banner h1 {
  font-size: 40px;
  margin-top: 20px;
  }

  .banner p {
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 0px;
  }
  
  .banner__description--more {
    font-size: 15px;
  }

   /* threeColumnSection */

   .threeColumnSection__item {
    text-align: center;
  }

  /* ABOUT */

  .social__item {
    width: 15px;
    height: 15px;
    padding: 10px;
  }

  /* FOOTER */
  footer h2,
  footer p {
    text-align: center;
  }

}

@media all and (max-width: 575px) {

  * {
    font-size: 12px;
  }

  .container {
    width: 96%;
  }

  .col-sm-12 {
    width: 100%;
  }
  
  .col-sm-6 {
    width: 50%;
  }

   /* HEADER */

   .header__logo {
    padding-left: 2%;
  }

  .header__navigation {
    display: none;
  }
  
  /* BURGER */

  .open__burger {
    display: block;
  }

  .nav__burger--close,
  .burger__mobil {
    font-size: 20px;
  }

  .fas.fa-bars {
    font-size: 26px;
  }

  /* BANNER */

  .banner {
    min-height: 70vh;
  }
  
  .banner__description {
    padding: 15px;
  }

  .banner h1 {
  font-size: 40px;
  margin-top: 20px;
  }

  .banner p {
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 0px;
  }
  
  .banner__description--more {
    font-size: 15px;
  }
 
   /* threeColumnSection */

   .threeColumnSection__item {
    text-align: center;
  }

  /* BOOKING */

.booking__item input,
.booking__item select,
.booking button {
  width: 55%;
}

label {
  text-align: center;
}

  /* NEW__CARDS */

  .new__card--item {
    margin: 20px auto;
  }

   /* ABOUT */

   .about__social {
     display: flex;
     flex-wrap: wrap;
   }

   .social__item {
    width: 15px;
    height: 15px;
    padding: 10px;
  }

  /* FOOTER */

  footer h2,
  footer p {
    text-align: center;
  }
   
  .footer__box--item a {
    font-size: 60%;
  }
  
  footer h3 {
    font-size: 70%;
  }
  
}
