
.c_item {
    padding: 15px 20px;
    border:0px;
    outline:0px;
    border-radius: 30px;
    box-shadow: 0px 0px 15px #eeeeee;
}

.c_item:hover {
    cursor: pointer;
}

.sub_menu {
    display: none;;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease-in;
}

.sub_menu .show {
    display: block;
}