* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', ;
    color: #2c3a42;
}

.mobile__menu,
.burger__menu {
    display: none;
}

section {
    background-color: #2c3a42;
    padding: 70px 0;
}

.section__title {
    font-family: 'Cookie'!important ;
    color: #2c3a42;
    font-size: 77px;
    text-align: center;
}

.section__description {
    margin-top:-35px;
    text-transform: uppercase;
    color: #ad6c12;
    font-size: 48px;
    text-align: center;
}

img {
    max-width: 100%;
}

.burger__menu,
.burger__menu:after,
.burger__menu:before {
    position: absolute;
    display: block;
    width: 30px;
    height: 4px;
    right: 20px;
    top:25px;
    border-radius: 10px;
    background-color: #fff;
}

.burger__menu:after,
.burger__menu:before {
    content: "";
    right:0;
}

.burger__menu:after {
    top: 10px;
}

.burger__menu:before {
    top: -10px
}

header {
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: 1000;
}

.header__nav ul {
    list-style: none;
}

.header__logo,
.header__nav--link {
    text-transform: uppercase;
    font-size: 35px;
    color: #fff;
    padding: 0 10px;
}

section.banner {
    position:  relative;
    height: 100vh;
    background-image: url(img/banner.png);
    background-size: cover;

}

.banner__description--content {
    padding: 70px;
}

.indianDishes__content,
.banner__description {
    
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
}

.banner__readMore{
    border: 0;
    background-color: #fff;
    color: #2c3a42;
    font-size: 38px;
    text-transform: uppercase;
}

.fullWebsite {
    margin-top: -35px;
    font-size: 77px;
}

.traditionalFlavours {
    color: #fff;
}

.benefits {
    background-color:#d4d8d9;
}

.circle {
    
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #2c3a42;
    border-radius: 50%;
}

.indianDishes {
    background-image: url(img/bg2.png);
    background-size: cover;
}

.dish,
.dish > div {
    padding:0!important;
}

.dish__img img {
    width: 100%;
}

.dish__name {
    font-size: 18px;
}

div.col-6:nth-child(4n-1),
div.col-6:nth-child(4n){
    flex-direction: row-reverse!important;
}

.dish__description {
    padding: 0 25px!important;
}

.traditionalCuisine {
    background-image: url(img/bgDecor.png);
    background-size: cover;
}

.traditionalCuisine__content--title {
    font-size: 30px;
}

.enumeration span {
    font-weight: bold;
    padding: 0 15px;
}

section.discoverMenu {
    background-image: url(img/bg3.png);
    background-size: cover;
}

.discoverMenu__content {
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 20%;
}



.menu__item--imgContainer {
   
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 50%;
}

.menu__item--title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

.menu__item--price {
    font-weight: bold;
}


section.picture {
    min-height: 100vh;
    background-image: url(img/bg4.png);
    background-size: cover;
}

section.bookHere {
    color: #fff;
}

 div.section__title.section__book {
    color: #fff;
}

.bookHere input {
    background-color:#2c3a42;
    border: 2px solid #fff;
}

::-webkit-input-placeholder {
    font-weight: bold;
    
}

.bookBtn {
    font-weight: bold!important;
    text-transform: uppercase;
    color: #fff!important;
    background-color: #2c3a42;
    border: 2px solid #fff!important;
    width: 23%;
}

.bookBtn:hover {
    background-color: #fff;
    color: #2c3a42!important;
}

.anotherPicture {
    background-image: url(img/bg5.png);
    background-size: cover;
    min-height: 100vh;
}

section.someDishes {
    background-color: #d4d8d9;
}

.dish__item {
    background-color: #fff;
    height: 100%;
    padding-bottom: 40px;
}

.dish__item--date {
    font-size: 14px;
    letter-spacing: 1px;
}

.readMore {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color:#2c3a42!important;
}

.readMore:after {
    content: "";
    display: block;
    width: inherit;
    height: 4px;
    background-color: #ff992b;
}

.readMore:hover {
    text-decoration: none!important;
}

section.quote {
    color:#fff;
}

.bigQuotes {
    margin-bottom: -40px;
    font-size: 100px;
}

.quote__social img{
 padding:30px 10px;
}

.quote__text {
    max-width: 800px;
    margin: 0 auto;
}

.social__item {
    position: relative;
}

.social__item a {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    cursor:pointer;
}

footer {
    background-color: #d4d8d9;
}

.footer__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
}

.footer__header {
    font-weight: bold;
    text-transform: uppercase;
   
}

.footer__links ul>li{
    list-style: none;
}

.footer__links ul {
    padding:0;
}



@media (max-width: 992px){

}

@media (max-width: 768px){

    
    .burger__menu {
        display: block;
    }

    .show {
        display: block;
    }

    .mobile__menu {
        width: 100%;
    }

    .mobile__menu>div {
        background:#d4d8d9;
        text-align: center;
        padding: 10px;
        font-size: 20px;
    }

    .mobile__menu>div>a {
        color: #2c3a42;
        font-weight: bold;
    }

    .header__nav,
    .header__logo {
        display: none;
    }

    .header__nav ul {
        flex-direction: column;
    }

    .banner__description--content {
        padding: 25px;
    }

    .banner__title {
        font-size: 60px;
    }

    .banner__readMore {
        font-size: 30px;
    }

    .fullWebsite {
        font-size: 55px;
    }

    .traditionalFlavours__description {
        padding: 0 15px 15px;
    }

    .new__item {
        text-align: center;
        margin-bottom: 20px;
    }

    .traditionalCuisine {
        background-image: url("");
        background-color: #d4d7d9;
    }

    .menu__item {
        text-align: center;
        align-items: center;
    }

    section.picture,
    section.anotherPicture {
        display: none;
    }

    .dish__item,
    .dish {
        margin-bottom: 20px;
    }

    
}
