.example_1 {
    margin: 5px;
    background-color: rgba(40, 43, 238, 0.692);
    color: #fff;
}

ol {
    padding-left: 35px;
}

button {
    color: #fff;
    background-color: #007bff;
    font-size: 16px;
    padding: 6px 10px;
    border: 1px solid transparent;
    border-color: #007bff;
    white-space: nowrap;
    border-radius: 4px;
    position: relative;
    left: 250px;
    top: -25px;
}

button:hover {
    color: rgb(228, 90, 101);
}

.modal {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}

.modal-body {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 498px;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    outline: 0;
    margin: 27px auto;
    animation: rotation 2s linear;
}

    @keyframes rotation {
        from {transform: rotate(0)
            scale(0.1);}
        50%  {transform: rotate(180deg)
            scale(0.5);} 
        to {transform: rotate(360deg) scale(1);}
    }

.modal-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
} 

h5 {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 16px;
    margin-bottom: 16px;
    font-family: Arial,sans-serif;
    font-weight: bold;
}

.modal-text {
    color: #6c757d;
    position: relative;
    font-size: 24px;
    margin-top: 20px;
    margin-left: 16px;
    margin-bottom: 25px;
}

.modal-btn {
    display: flex;
    border-top: 1px solid #e9ecef;
    font-weight: 400;
    text-align: end;
    white-space: nowrap;
    border-radius: 4px;
}

.closeMyModal {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    font-size: 14px;
    margin-top: 16px;
    margin-left: 150px;
    margin-bottom: 16px;
}

.closeMyModal:hover {
    color: red;
    transform: scale(1.1);
}


