body {
    font-family: 'Rubik';
    font-weight: 400;
}

h1 {
    font-size: 50px;
    margin-left: 50px;
}

.window {
    display: flex;
    display: inline-flex;
    justify-content: space-between;
}

.btn,
button
 {
    display: block;
    height: 60px;
    margin: 0 20px;
    padding-left: 45px;
    padding-right: 45px;
    border-radius: 30px;
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    background-color: #fff;
    border: none;
    -webkit-box-shadow: 0px 0px 10px 6px rgba(114, 111, 111, 0.1);
    -moz-box-shadow: 0px 0px 10px 6px rgba(114, 111, 111, 0.1);
    box-shadow: 0px 0px 10px 6px rgba(114, 111, 111, 0.1);
}

.dropdown,
ul {
    font-family: Arial, sans-serif;
    font-size: 25px;
    margin-top: 60px;
    list-style: none;
    display: none;
}

ul:hover,
button:hover {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(20, 201, 65);
    -moz-box-shadow: 0px 0px 10px 2px rgba(20, 201, 65);
    box-shadow: 0px 0px 10px 2px rgb(20, 201, 65);
}

button:active, 
button:focus {
    outline: none;
}

button.focus, 
button:focus {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(20, 201, 65);
    -moz-box-shadow: 0px 0px 10px 2px rgba(20, 201, 65);
    box-shadow: 0px 0px 10px 2px rgb(20, 201, 65);
}

li {
    font-style: italic;
    margin: 10px 10px;
}

li:hover {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(35, 140, 189, 0.808);
    -moz-box-shadow: 0px 0px 10px 2px rgba(35, 140, 189, 0.808);
    box-shadow: 0px 0px 10px 2px rgba(35, 140, 189, 0.808);
}







