.logoimg{
  width: 420px;
  height: 180px;
  left: 50%;
  margin-left: -200px;
  position: relative;
}
.search{
  margin: 20px auto 20px auto;
  box-shadow: 0 0 5px 0px #BAB4B4;
  height: 44px;
  max-width: 584px;
  border-radius: 70px;
  display: flex;
}
.search-icon{
  width: 20px;
  height: 35px;
  color: #BAB4B4;
  margin: 5px 0 5px 12px;
  /*padding-left: 15px;
  padding-top: 4px;*/
}
.fa{
  padding-top: 10px;
}
.most-visited{
  max-width: 560px;
  height: 350px;
  margin: 20px auto 0 auto;
}
.items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.first-item, .second-item, .third-item,
.fourth-item, .five-item, .six-item{
  width: 100px;
  height: 120px;
  margin: 10px;
}
.first-item a, .second-item a, .third-item a,
.fourth-item a, .five-item a, .six-item a{
  text-decoration: none;
  color: #000 !important;
}
.first-item:hover, .second-item:hover, .third-item:hover,
.fourth-item:hover, .five-item:hover, .six-item:hover{
  border-radius: 10px;
  background: rgba(241,243,244,0.5);
}
.translate,.gmail,.vk,.github,.yandex,.youtube{
  border-radius: 30px;
  background: #E7E7E7;
  width: 50px;
  height: 50px;
  margin: 20px auto 0 auto;
}
.icontranslate{
  margin-left: 9px;
  margin-top: 10px;
}
.icongmail{
  margin-left: 10px;
  margin-top: 12px;
}
.iconvk{
  margin-left: 10px;
  margin-top: 10px;
}
.icongit{
  margin-left: 10px;
  margin-top: 10px;
}
.iconyandex{
  margin-left: 8px;
  margin-top: 9px;
}
.iconyoutube{
  margin-left: 10px;
  margin-top: 12px;
}
.translatetext,.gmailtext,.vktext,
.githubtext,.yandextext,.youtubetext{
  font-family: 'Segoe UI', 'Roboto', arial ,sans-serif;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 8px;
  margin-top: 15px;
  margin-right: 8px;
}
.faketext{
  margin:0;
  padding-inline-start: 10px;
  max-width: 450px;
  color: #BAB4B4;
  line-height: 44px;
  font-family: 'Segoe UI', 'Roboto', arial ,sans-serif;
}
.search-text{
  width: 500px;
}
.microphone a{
  text-decoration: none;
  color: #0404BB !important;
}
.microphone{
  color: #0404BB;
  width: 20px;
  height: 44px;
  margin: 2px 15px 0 auto;
  margin-left: auto;
}
button{
  color: #0404BB;
  font-size: 21px;
  background: none;
  border: 0;
  outline: none;
}
input{
  border: 0;
  font-size: 15px;
  height: 40px;
  width: 490px;
  outline: 0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }
