<!DOCTYPE html>
<html>

<head lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>DZ #20</title>

</head>

<body>
    hello world! dz #20
   {{!-- {{>_partials/button}} --}}
    
    
   <script>alert('dz #20')</script> 

   <script src = 'test1' async></script> 
   <script src = 'test2' defer></script>
   <script src = 'test3' defer></script>
   <script src = 'test4' defer></script>
   <script src = 'test5' async></script>
</body>
</html>