<h2>Список сотрудников, сведения о них и фильтр их сортировки:</h2>
<p><pre>
    1. Используя файл Data отрисуйте список пользователей (произвольно). Любая карточка пользователя должна иметь кнопку “Show full info”,
    при клике на которую отображается модальное окно с подробной ифнормацией.
    2. Используя файл Data создайте как можно больше фильтров пользователей. Обязательными является: 
	  2.1. Поле поиска по пользователям
	  2.2. Фильтр по цвету глаз, поле eyeColor (фильтр представляет собой группу чекбоксов) 
	  2.3. Фильтр по возрасту (от … до ...)
	  2.4. Фильтр по полю favoriteFruit, представленный в виде радио группы
       https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_input_type_radio
	  2.5. Фильтр зарплаты (от 0 до максимальной зп в массиве пользователе). При изменении значения, отображаются только пользователи,
       с зп меньше выбранной в Range филде. https://codepen.io/chriscoyier/pen/FtnAa

</pre></p>

<div>Cписок пользователей и фильтр поиска:</div>
<hr>

{{!-- <div class="container">
  <div class="row">
    <div class="xs-18" id="userList">
   
    </div>
  </div>
</div> --}}

<section class="persons">
  <div class="persons__list">
    <div class="persons__list--item">
      <img src="">
      <p>First name last name</p>
      <button class="show__more">Show full info</button>
    </div>
  </div>
  <div class="persons__filters">
    <div class="form">
      <div class="form__item">
        <label for="nameSearch">Search by name</label>
        <input type="text" id="nameSearch">
      </div><hr>
      <div class="form__item">
        <label for="companyList">Company</label>
        <select id="companyList"></select>
      </div><hr>
      <div class="form__item flex">
          <legend>Age:</label>
          <label for="from" class='v__20'>from</label> 
          <input type="number" id="min__year"> 
          <label for="to" class='v__20'>to</label>
          <input type="number" id="max__year">
      </div><hr>
      <div class="form__item" id='eye__field'>
        <legend for="eyeColor">Eye color
          <div>
            <label for="blue" class='v__check'>Blue</label>
            <input type="checkbox" id="blue">
          </div>
          <div>
            <label for="brown" class='v__check'>Brown</label>
            <input type="checkbox" id="brown">
          </div>
          <div>
            <label for="green" class='v__check'>Green</label>
            <input type="checkbox" id="green">
          </div>
      </div><hr>
      <div class="form__item" id='favoriteFruit__field'>
        <legend for="favoriteFruit">Favorite <br>fruit
          <div>
            <label for="apple" class='v__check'>Apple</label>
            <input type="radio" id="apple">
          </div>
          <div>
            <label for="strawberry" class='v__check'>Strawberry</label>
            <input type="radio" id="strawberry">
          </div>
          <div>
            <label for="banana" class='v__check'>Banana</label>
            <input type="radio" id="banana">
          </div>
      </div><hr>
      <div class="form__item">
        <label for="salary">Salary</label>
        <input  type="range" class="min-max__salary" min="0" max="9999" step="0.1" value="0">
      </div><hr>
      <div class="form__item">
        <button id="submit">Submit</button>
      </div>
    </div>
  </div>
</section>