<div id="myModal" class="modal">
     <div class="modal-body">
       <div class="modal-header">
         <h5>Personal information</h5>
       </div>
       <div class="modal-text" id="modal-text--item">

       </div>
       <div class="modal-btn">
           <button id="closeMyModal" class="closeMyModal">Close</button>
       </div>
     </div>
   </div>  