@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');


body {
  margin: 0;
  font-family: 'montserrat';
  font-weight: normal;
}
*{
  box-sizing: border-box;
  color: #505050;
}
img {
  width: 100%;
}
h2{
  margin: 0;
  color: black;
}
button{
  outline: none;
}
a{
  text-decoration: none;
}
.col-2 {
  width: 16.666%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.333%;
}
.col-6 {
  width: 50%;
}
.col-8{
  width: 66.666%;
}
.col-10{
  width: 83.333%;
}
.col-12{
  width: 100%;
}
.col-60{
  width: 60%;
}
.col-40{
  width: 40%;
}
.allHeaders{
  text-align: center;
  padding: 100px 0;
}
.allHeaders p{
  font-size: 18px;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.pad-10{
  margin: 0 -10px;
}
.pad-10 > div{
  padding: 0 10px;
}
.mar-10{
  margin: 0 -10px;
}
.mar-10 > div{
  margin: 0 10px;
}
.pad-25{
  margin: 0 -25px;
}
.pad-25 > div{
  padding: 0 25px;
}
.pad-50{
  margin: 0 -50px;
}
.pad-50 > div{
  padding: 0 50px;
}
.row {
  display: flex;
  justify-content: space-between;
}
.aboutUs,.services, .comments{
  background: #f9fbfb;
}
@import "app/_scss-core/_core";

@import "scss/helpers";
@import "scss/typography";
@import "scss/header";
@import "scss/banner";
@import "scss/aboutUs";
@import "scss/featuredWorks";
@import "scss/services";
@import "scss/team";
@import "scss/comments";
@import "scss/partners";
@import "scss/contactUsAndMap";
@import "scss/footer";
