<!DOCTYPE html>
<html>

<head lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>DZ #28</title>
    {{!-- lesson-27 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> --}}
</head>

<body>

   <h1>dz #28</h1> 
{{!-- 
    {{> _partials/example1 }} 

    {{> _partials/example2 }} 

    {{> _partials/example3 }}  

    {{> _partials/lesson-24 }} 

    {{> _partials/lesson-25 }}
    {{> _partials/lesson-25modal }} 

    {{> _partials/lesson-26 }}
    {{> _partials/lesson-26modal }}  --}}

    {{!--  lesson-27
    
    {{> _partials/lesson-27 }} 

  <div class="spaceCarousel">
      <div>
        <img src="./img/1.jpg" alt="">
    </div>
    <div>
        <img src="./img/2.jpg" alt="">
    </div>
    <div>
        <img src="./img/3.jpg" alt="">
    </div>
    <div>
        <img src="./img/4.jpg" alt="">
    </div>
    <div>
        <img src="./img/5.jpg" alt="">
    </div>
    <div>
        <img src="./img/6.jpg" alt="">
    </div>
    <div>
        <img src="./img/7.jpg" alt="">
    </div>
    <div>
        <img src="./img/8.jpg" alt="">
    </div>
    <div>
        <img src="./img/9.jpg" alt="">
    </div>
    <div>
        <img src="./img/10.jpg" alt="">
    </div>
    <div>
        <img src="./img/11.jpeg" alt="">
    </div>
    <div>
        <img src="./img/12.jpg" alt="">
    </div>
    <div>
        <img src="./img/13.jpg" alt="">
    </div>
    <div>
        <img src="./img/14.jpg" alt="">
    </div>
    <div>
        <img src="./img/15.jpg" alt="">
    </div>
    <div>
        <img src="./img/16.jpg" alt="">
    </div>
    <div>
        <img src="./img/17.jpg" alt="">
    </div>

  </div>

  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="slick/slick.min.js"></script> 
  
     lesson-27  --}}
  
   {{> _partials/lesson-28 }}
   {{> _partials/lesson-28modal }} 

</body>
</html>