body {
  margin: 0;
}
*{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
}
img {
  width: 100%;
}
h1 {
  font-size: 35px;
}
h2{
  margin: 0;
}
ul{
  list-style-type: none;
  padding: 0;
}
a{
  text-decoration: none;
  color: #fff;
  outline: none;
}
h3{
  color: #4c5a5f;
}
p{
  color: #4c5a5f;
}
.col-2 {
  width: 16.666%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.333%;
}
.col-6 {
  width: 50%;
}
.col-8{
  width: 66.666%;
}
.col-10{
  width: 83.333%;
}
.col-12{
  width: 100%;
}
.pad-15{
  margin: 0 -15px;
}
.pad-35 {
  margin: 0 -35px;
}
.pad-70 {
  margin: 0 -70px;
}
.pad-120 {
  margin: 0 -120px;
}
.pad-100{
  margin: 0 -100px;
}
.pad-35 > div {
  padding: 0 35px;
}
.pad-15 > div {
  padding: 0 15px;
}
.pad-70 > div{
  padding: 0 70px;
}
.pad-120 > div {
  padding: 0 120px;
}
.pad-100 > div {
  padding: 0 100px;
}
.back2{
  background: #2a3b40;
}
.back3{
  background: #d4d8d9;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: space-between;
}
header.header{
  position: absolute;
  left: 0;
  right: 0;
  font-size: 24px;
  color: #fff;
}
.header_logo p{
  color: #fff;
}
.header__navigation{
  padding: 24px 0;
}
.header__navigation a:hover{
  border-bottom: 2px solid;
}
.header__navigation > a:nth-child(2n){
  margin: 0 15px;
}
#Header__burger {
  display: none;
}
.header > .container > .row > .col-6:nth-child(3){
  display: none;
}
.banner {
  min-height: 100vh;
  background: url('../images/banner.png');
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner__description {
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: 100px;
  font-weight: 700;
}
.banner__description h1{
  margin: 0;
}
.banner__description P{
  font-size: 28px;
}
.banner__description--button{
  color: black;
  padding: 7px 10px;
  background-color: #fff;
}
.banner__description--button:hover{
  box-shadow: 2px 2px 5px rgba(153, 153, 153, 0.7);
}
.traditionalFlavours__description p {
  line-height: 1.5;
  color: #c6cbcc;
}
.traditionalFlavours {
  padding: 65px 0;
}
.traditionalFlavours__description {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.updates {
  padding: 65px 0;
}
.updates__item--circle{
  padding-bottom: 15px;
}
.updates__item--circle span {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #2a3b40;
}
section.onYorPlate{
  background: url('../images/image3.png');
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.onYorPlate__content {
  margin: 90px 0;
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-weight: 700;
}
.onYorPlate__content--header{
  padding: 50px 0;
}
.onYorPlate__content > .row:nth-child(2n+1) > .col-6 > .onYorPlate__content--item > .row{
  flex-direction: row-reverse;
}
.onYorPlate__content--item--description{
  padding: 70px 0;
}
.onYorPlate__content--item--description h3,
.onYorPlate__content--item--description > p + p,
.menu__item--description--price{
  font-weight: 700;
}
section.traditionalEasy{
  z-index: -1;
  text-align: center;
}
.traditionalEasy__background::before{
  content: url('../images/leftpic.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.traditionalEasy__background::after{
  content: url('../images/rightpic.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.traditionalEasy__header{
  color: #2a3b40;
}
.traditionalEasy__description{
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.5;

}
.traditionalEasy__navigation{
  margin: 45px auto 0 auto;
}
.traditionalEasy__background > .container{
  padding-top: 50px;
  font-size: 20px;
}
.traditionalEasy__background > .container > .row{
  align-items: center;
}
.traditionalEasy__threePoint{
  padding-top: 35px;
}
.traditionalEasy__threePoint span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #2a3b40;
}
.traditionalEasy__navigation > a{
  color: #2a3b40;
  padding: 0 15px;
  font-weight: 700;
}
.traditionalEasy__navigation > a:hover{
  padding-bottom: 2px;
  border-bottom: 2px solid black;
}
section.menu{
  background: url('../images/menu__banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}
.menu{
  position: relative;
}
.menu > .container{
  padding-top: 240px;
  padding-bottom: 40px;
}
.menu__background{
  width: 100%;
  bottom: 0;
  height: 482.4px;
  background: #fff;
  position: absolute;
  z-index: -1;
  top: 240px;
}
.menu__header{
  padding: 40px 0;
  text-align: center;
}
.menu_bottomImage{
  background: url('../images/image1.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.colorHead{
  color: #ad6c12;
}
.menu__background{
 background: #fff;
 opacity: 0.7;
}
.menu__item {
  display: flex;
  align-items: center;
  margin: 0 -15px;
}
.menu__item > div {
  margin: 0 15px;
}
.menu__item--img{
  background: #fff;
  padding: 20px;
  border-radius: 50%;
}
.menu__item--img1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url(./banner2.png);
  background-size: cover;
  background-repeat: no-repeat;
}
section.submit{
  color: #fff;
}
.submit__description{
  text-align: center;
  padding: 40px 0 20px 0;
}
.submit__description h2{
  font-size: 32px;
}
.submit > .container > .row >.col-4:nth-child(2){
  margin-left: 80px;
}
.submit__item:last-child{
  padding-top: 30px;
}
.submit__item{
  width: 100%;
}
.submit__item p {
  margin: 5px 0;
  font-weight: 700;
  padding-left: 5px;
  color: #fff;
}
.submit__input{
  color: #fff;
  outline: none;
  width: 80%;
  height: 35px;
  border-radius: 10px;
  border: 1.5px solid #fff;
  padding: 0 10px;
}
.submit__input--date::-webkit-inner-spin-button,
.submit__input--date::-webkit-clear-button,
.submit__item--time::-webkit-inner-spin-button,
.submit__item--time::-webkit-clear-button{
   display: none;
 }
 .select {
  position: relative;
  display: inline-block;
  width: 100%;
}
.select:after {
  content: '\25BC';
  padding: 9px 8px;
  font-size: 12px;
  position: absolute;
  right: 56px;
  top: 4px;
  z-index: 1;
  text-align: center;
  width: 10%;
  height: 100%;
  pointer-events: none;
  box-sizing: border-box;
}
select {
  padding-right: 25px;
  -webkit-appearance: none;
}
.submit__input::placeholder{
  color: #fff;
}
.submit__button{
  text-align: center;
  padding: 50px 0;
}
.submit__button--btn{
  font-weight: 700;
  color: #fff;
  outline: none;
  width: 16%;
  height: 35px;
  margin-left: 30px;
  border-radius: 10px;
  border: 1.5px solid #fff;
  cursor: pointer;
}
.submit__bottomImage{
  background: url(../images/image2.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.moreFood__header{
  text-align: center;
  padding: 45px 0;
}
.moreFood__item{
  background: #fff;
}
.moreFood__item--description{
  padding: 25px;
}
.moreFood__item--description a:hover{
  border-bottom: 5px solid #ff992b;
}
.moreFood__item--description a{
  color: black;
}
.moreFood{
  padding-bottom: 120px;
}
.contacts__description{
  text-align: center;
  color: #fff;
  padding-top: 35px;
}
.contacts__description p{
  line-height: 2;
  margin: 0;
  color: #fff;
}
.contacts__description h3{
  color: #fff;
}
.contacts__description > h2 + p{
 margin-bottom: 25px;
}
.contacts__description h2 {
  font-size: 60px;
  margin: 0;
  text-align: center;
}
.contacts__social{
  text-align: center;
  padding: 35px 0;
}
.item{
  display: inline-block;
}
.item:nth-child(2n){
  margin: 0 10px;
}
.aboutUS{
  padding-top: 70px;
  padding-bottom: 80px;
}
.aboutUs__description p{
  max-width: 350px;
}
.aboutUs__description h2{
  margin-bottom: 35px;
}
.aboutUs__links--list ul{
  font-weight: 700;
  margin: 0;
}
.aboutUs__links--list h2{
  margin-bottom: 35px;
}
.aboutUs__links--list a{
  color: black;
}
.aboutUs__links--list li:nth-child(2n){
  margin: 5px 0;
}
.aboutUs__links--list li:hover{
  padding-left: 2px;
}

@media (max-width:768px) {
  .row{
    flex-wrap: wrap;
  }
  .container-xs{
    width: 100%
  }
  .col-xs-2 {
    width: 16.666%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.333%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-8{
    width: 66.666%;
  }
  .col-xs-10{
    width: 83.333%;
  }
  .col-xs-12{
    width: 100%;
  }
  .header > .container > .row > .col-6:nth-child(2){
    display: none;
  }
  .header > .container > .row > .col-6:nth-child(3){
    display: block;
  }
  .header__burger--navigation {
    text-align: right;
  }
  .header_logo{
    text-align: center;
  }
  .header__OpenBurgerButton{
    text-align: right;
    height: 100%;
    padding-top: 4px;
    padding-right: 20px;
  }
  .header__CloseBurgerButton{
    text-align: right;
    height: 100%;
    padding-top: 4px;
    padding-right: 20px;
  }
  .header__burgerButton--OpenButton{
    font-size: 55px;
  }
  .header__burger{
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 99;
    top: 70px;
    width: 100%;
  }
  .header__burger--navigation{
    padding: 10px;
  }
  .header__burgerButton--CloseButton{
    font-size: 60px;
    display: none;
  }
  .header > .container-xs > .row{
    position: relative;
  }
  .banner__description{
    padding: 60px;
  }
  .traditionalFlavours__description {
    padding: 0 15px;
  }
  .updates__item{
    padding: 10px 15px;
  }
  .traditionalEasy__background::before,
  .traditionalEasy__background::after{
    display: none;
  }
  .traditionalEasy__background{
    padding-bottom: 50px;
  }
  .menu__background{
    height: 940.8px;
  }
  .menu__item{
    padding: 5px 10px;
  }
  .submit > .container > .row >.col-4:nth-child(2n){
    margin-left: 0;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .submit > .container > .row{
    text-align: center;
  }
  .select:after {
    right: 40px;
    top: 2px;
  }
  .submit__button--btn{
    width: 80%;
    margin-left: 0;
  }
  .moreFood{
    padding-bottom: 60px;
  }
  .pad-140{
    margin: 0 -140px;
  }
  .pad-140 > div {
    padding: 0 180px;
  }
  .contacts{
    padding: 0 10px;
  }
  .aboutUS{
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .onYorPlate__content--item--description {
    padding: 90px 0;
  }
}
@media (min-width: 769px) and (max-width: 1024px){
  .container-md{
    max-width: 994px;
  }
  .row-md{
    flex-wrap: wrap;
  }
  .col-md-2 {
    width: 16.666%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-8{
    width: 66.666%;
  }
  .col-md-10{
    width: 83.333%;
  }
  .col-md-12{
    width: 100%;
  }
  .pad-md-80{
    margin: 0 -80px;
  }
  .pad-md-80 > div{
    padding: 0 80px;
  }
  .pad-md-20{
    margin: -20px -15px;
  }
  .pad-md-20 > div{
    padding: 20px 15px;
  }
  .header__navigation > a:nth-child(4n) {
    margin-right: 0;
  }
  .updates .row{
    text-align: center;
  }
  .onYorPlate__content > .row-md:nth-child(2n)> .col-md-12:nth-child(2n+1) > .onYorPlate__content--item > .row{
    flex-direction: row;
  }
  .onYorPlate__content > .row-md:nth-child(2n)> .col-md-12:nth-child(2n) > .onYorPlate__content--item > .row{
    flex-direction: row-reverse;
  }
  .onYorPlate__content > .row-md:nth-child(2n+1)> .col-md-12:nth-child(2n+1) > .onYorPlate__content--item > .row{
    flex-direction: row;
  }
  .onYorPlate__content > .row-md:nth-child(2n+1)> .col-md-12:nth-child(2n) > .onYorPlate__content--item > .row{
    flex-direction: row-reverse;
  }
  .onYorPlate__content--item--description {
    font-size: 26px;
    padding: 100px 0;
  }
  .menu__background{
    height: 940.8px;
  }
  .menu__item{
    padding: 10px;
    font-size: 20px;
  }
  .menu__background {
    height: 880.4px;
  }
  .submit__input--list {
    width: 100%;
  }
  input.submit__input {
    width: 100%;
  }
  .submit > .container > .row >.col-4:nth-child(2) {
    margin-left: 40px;
  }
  .select:after {
    right: 12px;
    top: 2px;
  }
  .submit__button--btn {
    width: 21%;
    margin-left: 40px;
  }
  .moreFood > .container-md > .row-md{
    justify-content: center;
  }
  .moreFood > .container-md > .row-md > .col-md:nth-child(an+b){
    justify-content: center;
  }
  .moreFood {
    padding-bottom: 50px;
  }

}
