<!DOCTYPE html>
<html>

<head lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>DZ #25</title>

</head>

<body>

   <h1>dz #25</h1> 
{{!-- 
    {{> _partials/example1 }} 

    {{> _partials/example2 }} 

    {{> _partials/example3 }}  

    {{> _partials/lesson-24 }} --}}

    {{> _partials/lesson-25 }}
    {{> _partials/lesson-25modal }}

</body>
</html>