
.button_model {
    margin:30px
}


.modal_wrapper {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);

   
    
}

@keyframes slidein {
    0% {
       top: 0vh;
    }

    100% {
        top:5vh;
    }
}

@keyframes zoom {
     0% {
      transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}


.modal_window {
    position: fixed;
    top: 5vh;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    background-color: #ffffff;
    border: 1px solid #585555;
    border-radius: 5px;

    animation-name: slidein;
    animation-duration: 1s;
    
}

.modal_window_another {
    position: fixed;
    top: 5vh;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    background-color: #ffffff;
    border: 1px solid #585555;
    border-radius: 5px;

    animation-name: zoom;
    animation-duration: 1s;
}



.title {
    font-size: 20px;
    font-weight: bold;
}

.cross:after,
.cross:before {
    content: "";
    display: block;     
    width: 2px;
    height: 15px;
    background-color: #585555;
    
}

.cross:before {
    transform: rotate(45deg);
}

.cross:after {
    transform: rotate(-45deg);
    margin-top: -15px;
}

.text_to_change {
    width: 100%;
    border: 0px;
    outline: none;
}

.buttons {
    float: right;
}

