@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');



body {
  margin: 0;
}
*{
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

@import "app/_scss-core/_core";

@import "scss/helpers";
@import "scss/typography";
@import "scss/banner";
