<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>

    {{> _partials/header }}

    {{> _partials/banner }}

    {{> _partials/twoColumnSection }}

    {{> _partials/threeColumnSection }}

    {{> _partials/india }}

    {{> _partials/traditionalCuisine }}

    {{> _partials/menu }}

    {{> _partials/first__bckg }}

    {{> _partials/booking }}
    
    {{> _partials/second__bckg }}

    {{> _partials/new__cards }}

    {{> _partials/about }}

    {{> _partials/footer }}

  </body>
</html>
