body {
  margin: 0;
  color: #6a737b!important;
  background-color: #f4f6f8!important;
  font-family: 'Noto Sans JP', sans-serif!important;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

header {
  background-color: #fff;
}

section {
  
  margin-top:105px;
}

.sectionHeader {
  margin: 80px 0;
}

a:hover {
  text-decoration: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
}

.banner__container {
  position: relative;
  min-height: 100vh;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__contactsInfo a{
  color: #6a737b!important;
}

.header__navigation ul {
  display: flex;
  list-style-type: none;
}
nav.header__navigation li {
  padding: 20px;
 
}

.nav_item {
  color: #6a737b!important;
}

.nav_item:hover {
  color: #ff5912!important;
  text-decoration: none;
}

section.banner {
  min-height: 100vh;


  background-image: url(img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner__description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-90%,-50%);
  
}

.banner__description h1 {
  color:#ff5912;
  font-weight: bold;
  margin-bottom: 30px;
}

h1 + p {
  font-size: 18px;
}

.sectionTitle {
  
  color:#34404b;
  font-size: 36px;
  font-weight: 900;
}

.orange {
  color:#ff5912;
}

.purchase {
  float:left;
  padding: 40px;
  background-color: #fff;
}

.purchase__title {
  font-size: 18px;
  font-weight: 700;
  margin-top: 30px
}

.purchase__price{
  text-align: center;
  margin-top: 20px;
  color:#ff5912;
  font-weight: 700;
}

.goodOffer_wrapper{
  background-color: #fff;
}

.goodOffer__title {
  font-size: 22px;
}

.goodOffer__description {
  padding:0 75px;
}

.goodOffer__priceBlock {
  margin-right: 250px;
  font-size: 32px;
  font-weight: 900;
}

.adArea__size {
  letter-spacing: 8;
}

.goodOffer__info,
.ads {
  vertical-align: middle;
}

.bestSales__item {
  width: 31%;
  background-color: #fff;
}

.bestSales__title {
  font-size: 18px;
}