.flex{
    display: flex;
}
    h1{
        margin-left: 5px;
    }
button{
    font-size: 16px;
    background-color: #fff;
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 20px;
    padding: 10px;
    
    border: none;
}

button:hover{
    background-color: rgb(235, 235, 235);
}

#btn{
    position: relative;
}

.ds-non{
    display: none;
    position: absolute;
}   