*{
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: space-between;
}
.banner {
  height: 100vh;
  background: url("./banner2.png");
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner__description {
  background: white;
  text-align: center;
  padding: 100px;
  background-color: #d9dbdc;
  
}
.banner__description p{
font-size: 24px;
color: #ad6c12;
}
.banner__description a{
  background-color: #fff;
  color: black;
  padding: 7px 10px;
}


.col-6 {
  width: 50%;
}
.col-2 {
  width: 16.666%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.333%;
}
.pad-35 {
  margin: 0 -35px;
}
.pad-35 > div {
  padding: 0 35px;
}
.pad-120 {
  margin: 0 -120px;
}
.pad-120 > div {
  padding: 0 120px;
}
.twoColumnSection {
  background-color: #2a3b40;
  padding: 65px 0;
}
.menu__item {
  display: flex;
  align-items: center;
  margin: 0 -15px;
}
.menu__item > div {
  margin: 0 15px;
}
.menu__item--img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url(./banner2.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.twoColumnSection__description {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.threeColumnSection {
  background: #d4d8d9;
  padding: 65px 0;
}

.threeColumnSection__item--circle span {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #2a3b40;
}
.modum {
  display: flex;
}

.header{
  position: absolute;
  left:0;
  right: 0;
  color: #fff;
  font-size: 24px;
}

.col-6{
width: 50%;
}
.menu{
  color: #fff;
}

.row{
  display: flex;
  justify-content: space-between;
}

a{
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}
div.navigation{
  padding: 24px 0;
}
a.buttom{
  color: #26363a;
}