body {
  background-color: #f4f6f8;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

header,
footer {
  background-color: #fff;
  font-family: sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 27px 0;
}

a {
  color: #34404b;
}

header img:hover,
a:hover {
  color: #ff5912
}

.header__contactsInfo a {
  padding-left: 10px;
  padding-right: 20px;
  font-size: 12px;
}

.header__contactsSocial a {
  padding-right: 20px;
}

.header__contactsSocial a:last-child {
  padding-right: 0px;
}

.header__navigation ul {
  display: flex;
  list-style-type: none;
  position: relative;
  left: -220px;
}

nav.header__navigation li {
  padding-left: 30px;
  font-weight: bold;
}

.header__ui a {
  padding-right: 30px;
}

.header__ui a:last-child {
  padding-right: 0px;
}

section.banner {
  min-height: 100vh;
  background-image: url(./img/banner/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner__description {
  margin-left: 170px;
  padding-top: 230px;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Maven Pro', sans-serif;
  font-size: 38;
  font-weight: bold;
  color: #ff5912;
}

h2 {
  text-transform: uppercase;
}

h2 span {
  color: #ff5912;
}

.description h2  { 
  font-weight: 900;
  font-size: 30px;
}


.banner__description h3 {
  font-size: 14px;
  font-weight: 700;
  margin-top: -20px;
}

.banner__description p.info {
  font-size: 12px;
  margin-top: -10px;
  padding-bottom: 60px;
}

.banner__description .price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 700;
  width: 19%;
}

.price img {
  padding-left: 20px;
}
  
.arrivals {
  align-items: center;
}

.description { 
  text-align: center;
  margin-top: 120px;
  font-family: 'Lato', sans-serif; 
}

.cards {
  display: flex;
  text-align: center;
  margin-top: 75px;
  justify-content: center;
}

.stuff__card {
  float: left;
  margin: 30px;
  background-color: #fff;
  width: 20%; 
  cursor: pointer;
}

.stuff__card-focus {
  float: left;
  margin: 30px;
  background-color: #fff;
  width: 20%;
  cursor: pointer;
  -webkit-box-shadow: 2px 4px 18px 0px
   rgba(0,0,0,0.3); 
  box-shadow: 2px 4px 18px 0px 
  rgba(0,0,0,0.3);
  display: none;
}
 
.cards:hover .stuff__card-focus {
  display: block;
  
}

.stuff__card-focus img {
  margin: 30px;
  height: 90px;
}

.stuff__card img {
  margin: 30px;
}

.info p {
  font-size: 14px;
  font-weight: 400;
  color: #788087;
}

.info__description {
  font-size: 14px;
  font-weight: 400;
  color: #788087;
}

.stuff__info {
  margin-top: 0;
  font-size: 16px;
  font-weight: 700;
  color: #788087;
}

.stuff__size {
  margin-top: 25px;
  color: #788087;
  font-size: 12px;
}

.price__info {
  color: #ff5912;
  font-weight: bold;
}

.colors {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.colors .red {
  background-color: #e12e3f;
  width: 15px;
  border-radius: 50%;
}

.colors .grey {
  background-color: #788087;
  width: 15px;
  border-radius: 50%;
  margin-left: 5px;
}

.colors .light-blue {
  background-color: #3ab3ff;
  width: 15px;
  border-radius: 50%;
  margin-left: 5px;
}

.colors .light-green {
  background-color: #2fd967;
  width: 15px;
  border-radius: 50%;
  margin-left: 5px;
}

.focus__items {
  display: inline-flex;
  align-items: center;
  margin-top: 10px;
}

.focus__items img  {
  width: 22px;
  height: 22px;
  margin-left: 15px;
  margin-right: 15px;
}

.ban__adv {
  display: inline-block;
}

.small__banner {
  display: flex;
  justify-content: space-between;
  width: 630px;
  height: 100px;
  background-color: #fff;
  position: relative;
  top: 90px;
  left: 20px;
}

.block {
  margin: 10px 50px;
}

.description__sb {
  left: 20px;

}

.description__sb p {
  margin: 0;
  font-size: 14px;
  color: #788087;
}

.description__sb span {
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  color: #34404bd2;
}

.description__sb {
  margin: 20px;
  position: relative;
  left: -20px;
}

.sb__price {
  display: flex;
  align-items: center;
}

 p.sb__cost {
  font-size: 16px;
  color: #ff5912;
  font-weight: 700;
  padding-top: 5px;
  padding-right: 25px;
  padding-left: 15px;
}

.sb__cost span {
  font-size: 30px;
}

.adv__area {
  display: block;
  background-color: #fff;
  width: 470px;
  height: 100px;
  margin-left: 700px;
  margin-top: -10px;
  text-align: center;
}

.adv__img {
  position: relative;
  top: 30px;
}

.adv__text {
  padding-top: 30px;
  font-size: 12px;
  color: #788087;
  letter-spacing: 3px;
}

.sales {
  align-items: center;
  }
  
.sale__block {
  margin-top: 70px;
  margin-bottom: 110px;
  display: flex;
  justify-content: space-between;
}

.sale__card {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  width: 375px; 
  height: 160px;
  background-color: #fff;
}

.sale__card:hover .stuff__ratingAdd,
.sale__card:hover .stuff__priceAdd {
  display: block;
}

.sale__card:hover .stuff__rating,
.sale__card:hover .stuff__price {
  opacity: 0;
}

.sale__img {
  margin: 35px auto;
}

.sale__info {
  margin: 35px auto;
  width: 200px;
}

.stuff__price,
.stuff__priceAdd {
  color: #ff5912;
  position: relative;
  font-weight: bold;
  top: -35px;
  right: -100px;
}

.sale__card img.stuff__ratingAdd {
  position: relative;
  right: -25px;
  top: 13px;
}

.stuff__priceAdd {
  position: relative;
  top: -20px;
  right: -60px;
}

.stuff__ratingAdd,
.stuff__priceAdd {
  display: none;
}

.join {
  height: 120px;
  width: 1200px;
  background-color: #fff;
  margin-bottom: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.join__letter {
  text-transform: uppercase;
  color: #ff5912;
  font-weight: bolder;
  margin-left: 55px;
}

.join__text {
  font-style: italic;
  font-size: 12px;
  color: #6b6e70;
  margin-left: -230px;
}

.join__email {
  font-style: italic;
  font-weight: 500;
  font-size: 13px;
  color: #788087bd;
}

.join button {
  color: ivory;
  background-color: #ff5912;
  width: 100px;
  height: 50px;
  border: none;
  margin-right: 45px;
}

.join button:hover {
  -webkit-box-shadow: 2px 4px 18px 0px 
  rgba(0,0,0,0.3); 
  box-shadow: 2px 4px 18px 0px
   rgba(0,0,0,0.3);
   cursor: pointer;
}

.stuff__card:hover,
.small__banner:hover,
.adv__area:hover,
.sale__card:hover,
.join:hover {
  -webkit-box-shadow: 2px 4px 18px 0px 
  rgba(0,0,0,0.3); 
  box-shadow: 2px 4px 18px 0px
   rgba(0,0,0,0.3);
}

.footer__box {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding-top: 70px;
  padding-bottom: 70px;
}

.footer__text {
    font-size: 12px;
    color: #595a5a;
}

.footer__info {
    margin-left: -300px;
}

.footer__info ul {
    height: 75px;
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
}

  .footer__info li {
    padding-right: 100px;
    padding-bottom: 5px;
}

  .footer__info li:hover {
    color: #ff5912;
}

.footer__payment p {
    font-weight: bold;
    color: #ff5912;
}

.footer__payment img:hover {
    -webkit-box-shadow: 2px 4px 18px 0px 
    rgba(0,0,0,0.3); 
    box-shadow: 2px 4px 18px 0px
     rgba(0,0,0,0.3);
}

