@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');



.phon {
  background: rgb(94, 21, 104);
}

img {
  max-width: 100%;
}

@import "app/_scss-core/_core";

@import "scss/helpers";
@import "scss/typography";
@import "components/button";

$colorRed:green;
body {
  background-color: $colorRed;
}

