


.modal_btn,
.dropdown_btn {
    border: 0px;
    background-color: #fff;
    box-shadow: 0 0 10px #eeeeee;
    border-radius: 25px;
    
}

.modal_btn:hover,
.dropdown_btn:hover {
   background-color: brown;
   color: #fff;
    cursor: pointer;
    
}

.modal_btn:focus,
.dropdown_btn:focus,
.modal_close:focus,
.modal_send:focus {
    outline: none;
}

.modal_wrapper {
    display: none;
    position: absolute;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.3);
    height:100vh;
    width: 100%;
}
@keyframes slidein {
    from {
        margin-top: 0;
    }

    to {
        margin-top: 5vh;
    }
}


.modal_window {
    margin: 0 auto;
    margin-top: 5vh;
    width: 400px;
    height: 200px;
    background-color: #fff;
    border-radius: 15px;

    animation-name: slidein;
    animation-duration: 1s;
}

.modal_text {
    min-height: 70px;
}

.modal_close,
.modal_send {
    float: right;
    border: 0px;
    background-color: brown;
    color: #fff;
    border-radius: 10px;
}

.modal_close:hover,
.modal_send:hover {
 background-color: #862121;
}

.dropdown {
    display: none;
    list-style: none;
    padding-left: 0;
}


li > a {
    color: #fff;
}

li > a:hover {
    text-decoration: none;
    color: #862121;
}

.dropdown > li {
    width: 100%!important;
}

 li:hover {
    background-color: #fff;
    
}

.cross:after,
.cross:before {
    content: "";
    display: block;     
    width: 2px;
    height: 15px;
    background-color: #585555;
    
}

.cross:before {
    transform: rotate(45deg);
}

.cross:after {
    transform: rotate(-45deg);
    margin-top: -15px;
}