<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="usersList">

      </div>
    </div>
    <div class="col-6">
      <div class="usersFilter">

      </div>
    </div>
  </div>
</div>
