.modal, .modal1 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 99999;
  margin: 0;
  padding: 0;
}
.modal {
  transition: top 1s ease-out 0.5s;
  animation: show1 1s 1;
  animation-fill-mode: forwards;
}
@keyframes show1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.modal-content, .saveContent {
  width: 500px;
  position: relative;
  margin: 10% auto;
  padding: 20px;
  background: #fff
}
.saveContent {
  width: 120px;
}
.show {
  width: 317px;
  height: auto;
  margin: 19% auto 0 auto;
}
.btn-openModal, .btn-close, .btn-save, .btn-Ok {
  font-size: 40px;
  font-family: cursive;
  width: auto;
  height: auto;
  border-radius: 10px;
  border: none;
  background-color: #972daa;
  color: #e4e94e !important;
  outline: none;
}
.btn-openModal:hover, .btn-close:hover, .btn-save:hover, .btn-Ok:hover, .btn-cross:hover {
  animation: none;
  background: #b669c3;

}
.btn-openModal:hover {
  animation: bounce 0.5s ease-in-out alternate infinite;
}
.btn-close, .btn-save, .btn-Ok {
  font-size: 20px;
}
.btn-close {
  margin-right: 4px;
}
.btn-save {
  margin-left: 4px;
}
.btn-cross{
  padding-bottom: 3px;
  font-size: 17px;
  font-family: cursive;
  border-radius: 7px;
  border: none;
  background-color: #972daa;
  color: #e4e94e !important;
  outline: none;
}
.cross{
  height: 20px;
}
@keyframes bounce {
  100% {
    transform: translateY(-10px);
  }
}
h5 {
  width: 80%;
  font-size: 1.25rem;
  margin: 0 auto 10px 0;
  font-family: cursive;
}
p {
  font-family: cursive;
}
.header {
  display: flex;
  border-bottom: 1px solid;
  border-color: #ebebeb;
}
.content, .ChangesText {
  margin: 0;
  border-bottom: 1px solid;
  border-color: #ebebeb;
}
.ChangesText {
  text-align: center;
}
.footer, .Ok {
  max-width: 130px;
  margin-left: auto;
  padding: 10px 0 0 0;
}
.Ok {
  max-width: 40px;
  margin-right: auto;
}
