<h2>Список сотрудников, сведения о них и фильтр их сортировки:</h2>
<p><pre>
    1. Используя файл Data отрисуйте список пользователей (произвольно). Любая карточка пользователя должна иметь кнопку “Show full info”,
    при клике на которую отображается модальное окно с подробной ифнормацией.
    2. Используя файл Data создайте как можно больше фильтров пользователей. Обязательными является: 
	  2.1. Поле поиска по пользователям
	  2.2. Фильтр по цвету глаз, поле eyeColor (фильтр представляет собой группу чекбоксов) 
	  2.3. Фильтр по возрасту (от … до ...)
	  2.4. Фильтр по полю favoriteFruit, представленный в виде радио группы
       https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_input_type_radio
	  2.5. Фильтр зарплаты (от 0 до максимальной зп в массиве пользователе). При изменении значения, отображаются только пользователи,
       с зп меньше выбранной в Range филде. https://codepen.io/chriscoyier/pen/FtnAa

</pre></p>

<div>Cписок пользователей и фильтр поиска:</div>
<hr>

<section class="persons">
  <div class="persons__list">
    <div class="persons__list--item">
      <img src="">
      <p>First name last name</p>
      <button class="show__more">Show full info</button>
    </div>
  </div>
  <div class="persons__filters">
    <div class="form">
      <div class="form__item">
        <label for="nameSearch">Search by Name:</label>
        <input type="text" id="nameSearch">
      </div><hr>
      <div class="form__item">
        <label for="companyList">Company:</label>
        <select id="companyList"></select>
      </div><hr>
      <div class="form__item flex">
          <legend>Age:</label>
          <label for="from" class='v__20'>from</label> 
          <input type="number" id="min__year"> 
          <label for="to" class='v__20'>to</label>
          <input type="number" id="max__year">
      </div><hr>
      <div class="form__item flex" id='eye__field'>
        <label for="eyeColor">Eye color:</label></div><hr>
      <div class="form__item flex" id='favoriteFruit__field'>
        <label for="favoriteFruit" >Favorite<br>fruit:</label>
      </div><hr>
      <div class="form__item">
        <label for="salary">Salary:</label>
        <input  type="range" id="min_max__salary" min="0" max="9999" step="" value="">
      </div><hr>
      <div class="form__item">
        <button id="submit">Submit</button>
      </div>
    </div>
  </div>
</section>