<h2>1 Отрисовка списка</h2>
<p><pre>
    Отрисовать на странице список пользователей (верстка произвольная)
         Имя
         Емейл
         Адрес
         Телефон
         Кампания
Данные можно скопировать к себе в код по ссылке https://jsonplaceholder.typicode.com/users
</pre></p>

<div>Вывод данных из массива:</div>
<hr>

<div id='userList'></div>

<h2>2 список городов</h2>
<p><pre>
    Исходя из списка пользователей, создайте список всех городов, в которых они живут,
и выведите его на страницу (можно списком).
</pre></p>

<div>Вывод списка городов:</div>
<hr>
<div id='companyList'></div>


<h2>3 список компаний</h2>
<p><pre>       
    Исходя из списка пользователей, создайте список всех компаний, в которых они работают,
с описанием, и выведите его на страницу.</pre></p>

<div id='cityList'></div>