<h2>Список сотрудников и сведения о них:</h2>
<p><pre>
    Отрисовать на странице список пользователей (верстка произвольная)
      1.	На каждом пользователе создать кнопку Show more.
      2.	При клике на кнопку Show more открывается модальное окно, в котором отрисовываются данные пользователя, на котором произошел клик.
      3.	Модальное окно должно содержать кнопку Close.
      4.	При клике на кнопку Close модальное окно закрывается.
      5.	ДЗ предоставить в виде ссылок на работы).
</pre></p>

<div>Вывод списка данных:</div>
<hr>

<div id='userList'>
   
</div>
<hr>

 
    



