@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');


*{
  box-sizing: border-box;
}

.phon {
  background: rgb(94, 21, 104);
}

img {
  max-width: 100%;
}

@import "app/_scss-core/_core";

@import "scss/helpers";
@import "scss/typography";
@import "scss/users";
