.logo-default {
  font-size: 70px;
  margin: 0;
  text-align: center;
  border-radius: 50px;
  
}

.ada {
  color: blue;
}
.adb {
  color: red;
}
.ade {
  color: yellow;
}
.adg {
  color: blue;
}
.adf {
  color: green;
}
.adw {
  color: red;
}

.serch {
  width: 800px;
  height: 30px;
  text-align: left;
  border-radius: 20px;
  margin-left: 250px;
  padding: 10px;

  
}




.rof {
    width: 112px;
    height: 112px;
}
.ror{
    width: 112px;
    height: 112px; 
}
.rol{
    width: 112px;
    height: 112px; 
}
.row{
    width: 112px;
    height: 112px; 
}
.row{
    width: 112px;
    height: 112px;
}
