<h2>Example #3 - Modal #4</h2>
<p>У вас есть массив объектов user, и в каждом из них есть user.name. Напишите код, который преобразует их в массив имён.
Например: </p><br>
<code>
let vasya = { name: "Вася", age: 25 };<br>
let petya = { name: "Петя", age: 30 };<br>
let masha = { name: "Маша", age: 28 };<br>
let users = [ vasya, petya, masha ];<br>
let names = /* ... ваш код */<br>
alert( names ); // Вася, Петя, Маша<br>
</code>
<p>Code</p><br>
<code>let vasya = { name: "Вася", age: 25 };<br>
let petya = { name: "Петя", age: 30 };<br>
let masha = { name: "Маша", age: 28 };<br>
let users = [ vasya, petya, masha ];<br>
let names = users.map(item => item.name);<br>
alert( names );</code>