<h2>Example #2 - Modal: #2, #3</h2>
<p>У нас есть массив строк arr. Нужно получить отсортированную копию, но оставить arr неизменённым.
Создайте функцию copySorted(arr), которая будет возвращать такую копию.</p><br>
<code>
let arr = ["HTML", "JavaScript", "CSS"];<br>
let sorted = copySorted(arr);<br>
alert( sorted ); // CSS, HTML, JavaScript;<br>
alert( arr ); // HTML, JavaScript, CSS (без изменений)<br>
</code>
<p>Code</p>
<code>
function copySorted(arr) {<br>
return arr.slice().sort(); }<br>
let arr = ["HTML", "JavaScript", "CSS"];<br>
let sorted = copySorted(arr);<br>
alert( sorted );<br>
alert( arr );<br>
</code>
