<h2>Example #1 - Modal #1</h2>
<p>У нас есть массив, в котором хранятся зарплаты нашей команды:</p><br>
<code>let salaries = [100, 160, 130]<br></code>
<p>Напишите код для суммирования всех зарплат и сохраните результат в переменной sum. Должно получиться 390.</p><br>
<p>Code</p>
<code>
function salariesSum(arr) {<br>
let maxSum = 0;<br>
for (let i = 0; i < arr.length; i++) {<br>
maxSum +=  arr[i]; }<br>
return maxSum; }<br>
let salaries = [100, 160, 130];<br>
alert( salariesSum(salaries) );<br>
</code>