*{
  font-family: sans-serif;
}
.footer{
  display: inline-flex;
}
.btn{
  font-size: 15px;
  background-color: #fff;
  display: inline-block;
  padding: 10px;
  margin-left: 5px;
  margin-right: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 13px #d4d4d4;
  outline: none;
}
.btn:hover{
  background: rgba(241,243,244,0.5);
}
div > li{
  list-style:none;
  margin: 5px;
}
.fa{
  margin: auto 0 auto 5px;
  color: #d4d4d4;
}
.spis{
  z-index: 999;
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 130px;
  overflow: auto;
  border-radius: 20px;
  box-shadow: 0 0 13px #d4d4d4;
  margin-top: 15px;
  padding:  10px;
}
.show {display: block;}
.date1{
  border: none;
  outline: none;
}
