.about {
    color: #fff;
  }
  
  .about__review {
    text-align: center;
  }
  
  .about__review h2{
    font-size: 40px;
    font-family:  serif;
  }
  
  .about__review p {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    padding: 0 5%; 
    color: rgba(255, 255, 255, 0.712);
  }
  
  .about__review p.name {
    font-size: 16px;
    color: #fff;
  }
  
  .about__social {
      display: flex;
    justify-content: center;
    padding-bottom: 40px;
  }
  
  .social__item {
    width: 30px;
    height: 30px;
      padding: 12px 15px;
      background-color: #fff;
      border-radius: 50%;
      font-size: 30px;
    color: #2a3b40;
    margin: 3% 1%;
    text-decoration: none;
  }

  .social__item img {
    height: 25px;
  }
  
  .social__item:hover {
      background-color: #f38181be;
    -webkit-box-shadow: 0px 0px 19px 6px rgba(213, 226, 21, 0.856); 
    box-shadow: 0px 0px 19px 6px rgba(213, 226, 21, 0.856);
  }