.banner {
    min-height: 100vh;
    background: 
    url('../img/branch__bckg.png')
    center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .banner__description {
    padding: 50px;
    margin: 0 auto;
    background: #ffffffb4;
    text-align: center;
  }
  
  .banner h1 {
    font-family: 'Cookie';
    font-size: 70px;
    font-weight: normal;
    color: #2c3a42;
    margin-top: -10px;
  }
  
  .banner p {
    font-family: 'Raleway';
    font-size: 60px;
    color: #ad6c12;
    text-transform: uppercase;
    margin-top: -60px;
    margin-bottom: 15px;
  }
  
  .banner a:hover {
    color: #030303 !important;
  }
  
  .banner__description--more {
    font-size: 30px;
    color:#26363a;
    text-transform: uppercase;
    border: none;
    background-color: #fff;
    padding: 10px;
  }