.booking {
    background-color: #2a3b40;
  }
  
  .booking__title h2 {
    font-family: 'Cookie';
    font-size: 70px;
    text-align: center;
    font-weight: normal;
    color: #fff;
  }
  
  .booking__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .booking__item input,
  .booking__item select,
  .booking button {
    color: #fff;
    padding: 7px 0 7px 5px;
    background-color: #2a3b40;
    border: 2px solid #fff;
    border-radius: 10px;
    margin-bottom: 40px;
    font-size: 15px;
    outline: none;
    width: 240px;
  }
  
  .booking button {
    align-items: center;
    margin: 0 auto;
    text-transform: uppercase;
  }
  
  .toBook__form-item input:focus, .toBook__form-item select:focus {
    background-color: #fff;
    color: #000;
    -webkit-transition: .1s ease;
    transition: .1s ease;
  }
  
  .booking__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
    
  label {
   font-size: 20px;
   color: #fff;
  } 
  
  .booking__item input::-webkit-inner-spin-button {
    display: none;
  }
  
  .booking__item input::-webkit-calendar-picker-indicator {
    background: none;
  }
  
  .booking__item input::-webkit-input-placeholder {
    color: #fff;
  }
  
  .booking__item input:-ms-input-placeholder {
    color: #fff;
  }
  
  .booking__item input::-ms-input-placeholder {
    color: #fff;
  }
  
  .booking__item input::placeholder {
    color: #fff;
  }