footer {
    background: #ffffffb4;
    padding: 40px 0;
  }
  
  .footer__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
  }
  
  .footer__box--item {
    display: block
  }
  
  footer h2,
  footer h3 {
    padding-top: 70px;
    font-weight: bold;
    font-size: 18px; 
    text-transform: uppercase;
  }
  
  footer p {
    font-size: 15px;
    color: rgb(66, 65, 65);
  }
  
  footer a {
    text-decoration: none;
    color: #12191b;
    font-size: 15px;
  }
  
  footer a:hover {
    cursor: pointer;
    text-decoration: underline;  
    -webkit-box-shadow: 0px 0px 19px 6px rgba(168, 48, 48, 0.61); 
    box-shadow: 0px 0px 19px 6px rgba(168, 48, 48, 0.61);
  }
  