.header {
	width: 100%;
	padding-top: 50px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.header__logo,
.header__navigation a {
	font-size: 30px;
	font-weight: 700;
  text-transform: uppercase;
  color: rgb(169, 169, 170);
}

.header a:hover,
.banner a:hover {
  -webkit-box-shadow: 0px 0px 19px 6px rgba(97, 184, 179,0.74); 
  box-shadow: 0px 0px 19px 6px rgba(97, 184, 179, 0.74);
  color: rgb(169, 169, 170);
}

.header__navigation ul {
  display: flex;
}

nav.header__navigation li {
  padding-top: -50px;
  padding-left: 30px;
  list-style-type: none;
}

nav.header__navigation li:hover {
  border-bottom: 4px  #1C6EA4;
}

nav.header__navigation li:last-child {
  padding-right: 30px;
}