.india {
    background: url('../img/menu__bckg.png')
    center no-repeat;
    background-size: cover;
    padding: 40px 0;
  }
  
  .discover__menu {
    background: #ffffffb4;
    text-align: center;
  }
  
  .menu__description--item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin: 0;
  }
  
  .menu__description--item a {
    color: #26292b;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
  }
  
  .india a:hover,
  .tradicionalCuisine a:hover {
    -webkit-box-shadow: 0px 0px 19px 4px rgba(224, 22, 22, 0.74); 
    box-shadow: 0px 0px 19px 4px rgba(224, 22, 22, 0.74);
    color: #000;
  }
  
  .menu__description--item:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
  }
  
  .plate__description {
    width: 50%;
    text-align: center;
  }
  
  .plate__img {
      width: 50%;
  }