@media all and (max-width: 575px) {

    * {
      font-size: 12px;
    }
  
    .container {
      width: 96%;
    }
  
    .col-sm-12 {
      width: 100%;
    }
    
    .col-sm-6 {
      width: 50%;
    }
  
     /* HEADER */
  
     .header__logo {
      padding-left: 2%;
    }
  
    .header__navigation {
      display: none;
    }
    
    /* BURGER */
  
    .open__burger {
      display: block;
    }
  
    .nav__burger--close,
    .burger__mobil {
      font-size: 20px;
    }
  
    .fas.fa-bars {
      font-size: 26px;
    }
  
    /* BANNER */
  
    .banner {
      min-height: 70vh;
    }
    
    .banner__description {
      padding: 15px;
    }
  
    .banner h1 {
    font-size: 40px;
    margin-top: 20px;
    }
  
    .banner p {
      font-size: 30px;
      padding-top: 20px;
      padding-bottom: 0px;
    }
    
    .banner__description--more {
      font-size: 15px;
    }
   
     /* threeColumnSection */
  
     .threeColumnSection__item {
      text-align: center;
    }
  
    /* BOOKING */
  
  .booking__item input,
  .booking__item select,
  .booking button {
    width: 55%;
  }
  
  label {
    text-align: center;
  }
  
    /* NEW__CARDS */
  
    .new__card--item {
      margin: 20px auto;
    }
  
     /* ABOUT */
  
     .about__social {
       display: flex;
       flex-wrap: wrap;
     }
  
     .social__item {
      width: 15px;
      height: 15px;
      padding: 10px;
    }
  
    /* FOOTER */
  
    footer h2,
    footer p {
      text-align: center;
    }
     
    .footer__box--item a {
      font-size: 60%;
    }
    
    footer h3 {
      font-size: 70%;
    }
  
  
  }