@media (min-width: 576px) and (max-width: 767px) {

    * {
      font-size: 13px;
    }
  
    .container {
      width: 546px;
    }
  
    .col-sm-12 {
      width: 100%;
    }
    
    .col-sm-6 {
      width: 50%;
    }
  
    /* HEADER */
  
    .header__logo {
      padding-left: 2%;
    }
  
    .header__navigation {
      display: none;
    }
    
    /* BURGER */
  
    .open__burger {
      display: block;
    }
  
    .nav__burger--close,
    .burger__mobil {
      font-size: 20px;
    }
  
    .fas.fa-bars {
      font-size: 26px;
    }
  
    /* BANNER */
  
    .banner {
      min-height: 70vh;
    }
    
    .banner__description {
      padding: 15px;
    }
  
    .banner h1 {
    font-size: 40px;
    margin-top: 20px;
    }
  
    .banner p {
      font-size: 30px;
      padding-top: 20px;
      padding-bottom: 0px;
    }
    
    .banner__description--more {
      font-size: 15px;
    }
  
     /* threeColumnSection */
  
     .threeColumnSection__item {
      text-align: center;
    }
  
    /* ABOUT */
  
    .social__item {
      width: 15px;
      height: 15px;
      padding: 10px;
    }
  
    /* FOOTER */
    footer h2,
    footer p {
      text-align: center;
    }
  
  }