@media (min-width: 1024px) and (max-width: 1199px) {
    .container {
      width: 994px;
    }
   
     /* BURGER */
     
    .fas.fa-bars,
    .nav__burger--close,
    .burger__mobil {
      font-size: 40px;
    }
  
  }