@media (min-width: 768px) and (max-width: 1023px) {

    .container {
      width: 738px;
    }
  
    .col-md-12 {
      width: 100%;
    }
  
    .col-md-6 {
      width: 50%;
    }
  
    /* HEADER */
  
    .header__navigation {
      display: none;
    }
    
    /* BURGER */
  
    .open__burger {
      display: block;
    }
  
    .fas.fa-bars,
    .nav__burger--close,
    .burger__mobil {
      font-size: 30px;
    }
  
    /* twoColumnSection */
    
    .twoColumnSection__item {
      text-align: center;
    
    }
  
    /* threeColumnSection */
  
    .threeColumnSection__item {
      text-align: center;
    }
  
    /* INDIA */
    
    .menu__description--item:nth-child(2) {
      display: flex;
      flex-direction: row-reverse;
    }
  
    /* FOOTER */
  
    footer h2,
    footer p {
      text-align: center;
    }
  
  }