@media (min-width: 1201px) and (max-width: 1400px) {
    .container {
      width: 1170px;
    }
    
     /* BURGER */
     
     .fas.fa-bars,
     .nav__burger--close,
     .burger__mobil {
       font-size: 50px;
     }
  
  }