.menu {
    background: url('../img/bckg__disc.png')
                center no-repeat;
    background-size: cover;
    padding-top: 20vh;
  }
  
  .discover {
    background: #ffffffb4;
    text-align: center;
  } 
  
  .menu__item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    text-align: left;
    margin: 0;
    width: 100%;
  }
  
  .menu__item--description h2,
  .menu__item a {
    color: #26292b;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
  }
  .menu__item a {
    color: #26292b;
    font-weight: bold;
  }
  
  .menu__item a:hover {
    -webkit-box-shadow: 0px 0px 19px 4px rgb(21, 52, 226); 
    box-shadow: 0px 0px 19px 4px rgb(21, 52, 226);
    color: #000;
  }
  
  .menu__item p {
    color: #26292b8e;
    font-size: 16px;
    font-weight: bold;
  }
  
  .menu__item > div {
    margin: 10 10px;
  }
  
  .menu__item--img {
    width: 85px;
  }