.new__cards {
    background: #d4d8d9;
  }
  
  .new__cards .discover__title {
    text-align: center;
  }
  
  .new__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
  } 
  
  .new__card--item {
    background-color: #fff;
    width: 90%;
    margin: 25px;
  }
  
  .new__card--description {
    padding: 20px;
    font-size: 14px;
  } 
  
  .new__card--description img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .new__card--description p {
    color:#555555;
  }
  
  .new__card--description p.fz13 {
    font-size: 13px;
    color: #000;
    }
    
  .new__card--description a {
    text-transform: uppercase;
    color:#363636;
    border-bottom: 7px solid #ff992b;
  } 
  
  .new__card--description a:hover {
    -webkit-box-shadow: 0px 0px 19px 4px rgb(21, 52, 226); 
    box-shadow: 0px 0px 19px 4px rgb(21, 52, 226);
    color: #000;
  }
  