.threeColumnSection {
    background: #d4d8d9;
    padding: 40px 0;
    color:  #2a3b40;
    line-height: 2;
  }
  
  .threeColumnSection__item {
    margin-right: 20px;
  }
  
  .threeColumnSection__item--circle span {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #2a3b40;
  }
  
  .threeColumnSection h2 {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
  }
  
  .threeColumnSection p {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
  }