.tradicionalCuisine {
    background: url('../img/bg_tradicional.png')
    center no-repeat;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 40px 0;
  }
  
  .traditional__description {
    text-align: center;
  }
  
  .traditional__description p {
    opacity: 0.6;
    max-width: 60%;
    margin: 0 auto;
  }
  
  .traditional__circle {
    margin: 30px 0;
    text-align: center;
  }
  
  .traditional__circle span {
    display: inline-block;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: #2a3b40;
  }
  
  .traditional__navigation {
    display: flex;
    justify-content: center;
  }
  
  .traditional__navigation ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 400px;
    padding-left: 0;
  }
  
  nav.traditional__navigation li {
    font-weight: bold;
  }
  
  .traditional__navigation a:hover {
    color: #000;
  }
  
  .traditional__navigation a {
    font-size: 15px;
    font-weight: 700;
    color: #2a3b40;
  }