.twoColumnSection {
    background-color: #2a3b40;
    padding: 35px 0;
  }
  
  .twoColumnSection .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .twoColumnSection__item {
    color: white;
    margin-right: 20px;
  }
  
  .twoColumnSection__item p {
    opacity: 0.6;
    line-height: 2;
  }