<!DOCTYPE html>
<html>

<head lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>DZ #21</title>

</head>

<body>

   <h1>dz #21</h1> 

    {{> _partials/button1 }} 

    {{> _partials/button2 }}

</body>
</html>