.open__burger {
    display: none;
    color: #a0a6a8;
    padding-right: 5%;
  }

  .open__burger img {
    height: 35px;
  }
  
  .nav__burger {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    background-color: rgba(0,0,0,0.1);
  }
  
  .nav__burger--item {
    display: flex;
    background-color: #70d32eea;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    min-height: 40vh;
  }
  
  .nav__burger--close {
    font-size: 40px;
  }
  
  .burger__mobil {
    font-size: 40px;
  }