.UsersList__item{
  display: flex;
  word-break: break-word;
  text-align: center;
  &--desc{
    width: 33.333%;
    padding: 0 10px;
    border-left: 2px solid black;
    &:first-child{
      border: none;
    }
  }
}
.NamesOfColumns{
  display: flex;
  margin-bottom: 10px;
  border-bottom: 2px solid black;

  &__item{
    border-left: 2px solid black;
    text-align: center;
    padding: 0 10px;
    width: 33.333%;
    &:first-child{
      border: none;
    }
  }
}
