
.aboutUs{
  padding-bottom: 110px;

  &__slideShow{
    text-align: center;

    &--dots{
      text-align: center;
      padding-top: 10px;
    }
    &--image img{
      width: 80%;
    }
  }
  
  &__description{
    line-height: 1.5;
    padding-top: 30px;
    max-width: 480px;
  }
}

.spanSlideShow{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 35%;
  background: grey;
}
