.banner {
  background: url(../images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__description {
    text-align: center;
    padding: 100px;
    font-weight: 700;

    &--contactUsbtn {
      margin-top: 100px;
      border: 1px solid black;
      padding: 10px 30px;
    }
    &--contactUsbtn:hover{
      background: #adebe7;
      cursor: pointer;
    }
  }
  &__description h1{
    text-shadow: #a7a7a7 2px 3px 5px ;
  }
}
.spanBanner{
  background-color: #baf9f4;
  padding: 0 5px;
}
