.comments__photoSlideShow{
  text-align: center;

  &--image img{
    width: 65%;
  }

  &--dots{
    text-align: center;
    padding-top: 10px;
  }
}

.comments__commentsSlideShow{
  background: #eaebed;
  text-align: center;
  padding: 60px 80px 50px 80px;
  margin-top: 40px;
  line-height: 1.5;
  min-height: 360px;

  & > h3 > span{
    font-size: 15px;
    color: #7e7e7e;
    font-style: italic;
  }

  &--stars{
    font-size: 0;
    display: inline-block;
    padding-top: 10px;

    & span {
    	padding: 0;
    	font-size: 20px;
    	line-height: 1;
    	color: lightgrey;
    }
    & > span:before {
    	content: '★';
    }
    & > span.spanStars {
    	color: gold;
    }
  }

}
.comments > .container > .row{
  position: relative;
}



.comments{
  padding-bottom: 100px;

  &__switcherSlideShow{
    text-align: right;
    margin-top: 40px;

    &--button{
      font-size: 30px;
      width: 50px;
      height: 50px;
      border-radius: 5px;
      border: none;
      color: #b2b2b2;
      outline: none;
    }
    &--button:hover{
      background: #71f6eb;
      color: #25514d;
      cursor: pointer;
    }
    &--button:first-child{
      margin-right: 20px;
    }
  }
}
