.contactUsAndMap{
  min-height: 100vh;
  background: url("../images/messageandmap1.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 120px 0;

  &__Map {
    color: #a6aeb3;
    line-height: 1.5;
    & p{
      margin: 0;
      color: #a6aeb3;
      & > a{
        margin: 0;
        color: #a6aeb3;
      }
    }
    &--map{
      margin-top: 19px;
    }
  }

  &__sendMessage--input,
  &__sendMessage--textarea{
    width: 100%;
    height: 60px;
    border: none;
    border-bottom: 1px solid #66757f;
    background: rgba(73, 88, 98, -4);
    color: #fff;
    outline: none;
    font-size: 18px;
  }
  &__sendMessage--input::placeholder,
  &__sendMessage--textarea::placeholder{
    color: #66757f;
  }
  &__sendMessage--textarea{
    height: 130px;
    resize: none;
    padding-top: 10px;
  }
  &__Map,&__sendMessage{
    background: rgba(42, 59, 72, 0.84);
    padding: 40px 20px 20px 20px;
  }
  &__sendMessage--button{
    margin-top: 40px;
    font-size: 18px;
    padding: 10px 35px;
    border-radius: 2px;
    border: none;
    color: #214744;
    outline: none;
    background: #6eeee4;
    &:hover{
      background: #74fcf1;
      color: #285854;
      cursor: pointer;
    }
  }
}
