.featuredWorks__content > .row:nth-child(2n){
  padding: 10px 0;
}
.featuredWorks{
  padding-bottom: 110px;
}
.featuredWorks__content > .row > .col-4 > img:hover{
  box-shadow: 0 0 10px 4px #acacac;
  cursor: pointer;
}
