
.footer{
  background: #262b2e;
  padding: 90px 0;
  text-align: center;

  & > .container h3{
    margin: 0;
    text-align: center;
    color: #bdbebf;
    padding-bottom: 20px;
  }
  & > .container > .row {
    justify-content: center;
  }
  & > .container > p {
    margin-top: 30px;
  }
}

.footer__socialContacts{
  background: #424648;
  padding: 12px 12px 10px;
  margin: 0 5px;
  width: 45px;
  height: 45px;

  &:hover{
    background: #6eeee4;
  }
  &--facebook{
    margin: 0 5px;
  }
  &--twitter,
  &--pinterest,
  &--ball{
    margin: 0 2px;
    padding-top: 2px;
  }
  &--pinterest:nth-child(2n){
    margin: 0 5px;
  }
}
