.header{
  position: absolute;
  left: 0;
  right: 0;
  top: 65px;

  &__navigation{
    position: relative;
    top:10px;

    &--burger{
      position: absolute;
      display: none;
      list-style-type: none;
      background: #71f6eb;
      right: -10px;
      top: -10px;
      border-radius: 5px;
    }
    &--burger:target{
      display: block;
    }
    &--burger ul {
      display: flex;
      list-style-type: none;
      font-size: 20px;
      padding: 0 10px;
    }
    &--burger ul > li {
      margin: 0 10px;
      white-space: nowrap;
    }
  }
}
