.services > .container > .row > .col-60{
  background: url(../images/services/item-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 420px;
  z-index: 1;
}
.services > .container > .row > .col-40{
  background: url(../images/services/item-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 420px;
  z-index: 1;
}
.services__item{
  position: relative;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  width: 100%;
  height: 100%;

  &--description{
    position: absolute;
    top: 180px;
    bottom: 70px;
    left: 65px;
    z-index: 3;
    color: #fff!important;
    max-width: 380px;
    line-height: 1.5;
  }
  &--morebtn a{
    color: #cac9c9;
  }
  &--morebtn::after{
    content: "→";
    color: #cac9c9;
    padding-left: 5px;
  }
}
.col-60 > .services__itemHover{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background: #71f6eb;
  padding: 60px 100px 60px 60px;
  line-height: 1.5;
}
.col-40 > .services__itemHover{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background: #71f6eb;
  padding: 60px;
  line-height: 1.5;
}
.col-60:hover .services__itemHover{
  display: block;
  z-index: 3;
}
.col-40:hover .services__itemHover{
  display: block;
  z-index: 3;
}
.services__itemHover--button{
  border: none;
  background: #71f6eb;
  font-size: 20px;
  padding-top: 80px;
  cursor: pointer;
}
.btn-col-40{
  padding-top: 30px;
}

.color h3{
  color: #fff;
}
.color p{
  color: #cac9c9;
}
.services > .container > .row:nth-child(2n){
  margin-top: 10px;
  margin-bottom: 10px;
}
