.team > .container > .row:nth-child(2n+1){
  padding: 20px 0;
}
.team__item{
  position: relative;
  cursor: pointer;

  &:hover .team__item--hover{
    display: block;
    z-index: 3;
  }

  &--hover{
    height: 250px;
    position: absolute;
    top: 150px;
    bottom: 15px;
    left: 0;
    right: 0;
    display: none;
    background: #71f6eb;
    line-height: 1.5;
    padding: 20px;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;

    &::before{
      content: '';
      position: absolute;
      left: 20px;
      top: -24px;
      border: 10px solid transparent;
      border-bottom: 15px solid #71f6eb;
    }
    & > h3 > span{
      font-size: 15px;
      color: #7e7e7e;
      font-style: italic;
    }

    &--socials{
      display: flex;

      &--item{
        padding: 0 5px;

        &:hover{
          border-bottom: 1px solid black;
        }
      }
    }
  }
}
