#wrapper {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #ddd;
}

.element {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: red;
    margin: 1px;
}

.element1 {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: blue;
    margin: 5px;
}

.element2 {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: gold;
    margin: 10px;
}

.element3 {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: palevioletred;
    margin: 15px;
}
