
.main{
  display: inline-flex;
}
.call{
  padding-left: 5px;
}
.dropdownbtn{
  padding-left: 15px;
}
.btn,.btn-close{
  display: inline-flex;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Roboto', sans-serif;
  width: auto;
  height: auto;
  border-radius: 28px;
  border: none;
  background-color: #fff;
  box-shadow: rgba(193, 193, 193, 0.4) 0px 5px 20px;
  outline: none;
  padding: 15px 20px;
  transition: .3s;
}
.btn-close{
  font-size:15px;
  padding: 7px 10px;
}
.btn:hover, .btn-close:hover{
  box-shadow: rgba(193, 193, 193, 0.8) 0px 5px 20px;
  transform: translateY(-3px);
  cursor: pointer;
}
.btn-cross:hover{
  cursor: pointer;
}
.fa{
  font-size: 15px!important;
  color: #9e9e9e!important;
}
.modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 99999;
  margin: 0;
  padding: 0;
}
.modal-content {
  width: 500px;
  position: relative;
  margin: 10% auto;
  padding: 20px;
  background: #fff
}
.header {
  display: flex;
  border-bottom: 1px solid;
  border-color: #ebebeb;
}
h5 {
  width: 80%;
  font-size: 1.25rem;
  margin: 0 auto 10px 0;
  font-family: cursive;
}
.btn-cross{
  font-size: 17px;
  background: #fff;
  border-radius: 9px;
  border: none;
  outline: none;
  transition: .3s;
}
.footer{
  max-width: 80px;
  margin: 0 auto;
}
.spis{
  font-family: 'Roboto', sans-serif;
  z-index: 999;
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 130px;
  overflow: auto;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.23) 0px 10px 40px;
  margin-top: 10px;
  padding:  10px;
}
.show {display: block;}
