<!DOCTYPE html>
<html>

<head lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>DZ #22</title>

</head>

<body>

   <h1>dz #22</h1> 

    {{> _partials/example1 }} 

    {{> _partials/example2 }} 

    {{> _partials/example3 }} 

</body>
</html>