.google-img {
display: flex;
justify-content: center;
margin-top: 150px;
}

.search-block {
display: flex;
justify-content: center;
margin: 20px 380px auto; 
}

.search-icon {
position: relative;
left: 36px;
top: 5px;
font-size: 16px;
color: #757575;
}

.search-input {
border-radius: 25px;
width: 560px;
border: none;
padding: 12px 12px 12px 50px;
-webkit-box-shadow: 
    0 1px 6px 0
    rgba(32, 33, 36, 0.28);
box-shadow: 0 1px 6px 0
     rgba(32, 33, 36, 0.28);
outline: none;
font-family: "Robota", sans-serif;
font-size: 15px;
}

button {
padding: 0;
border: none;
background-color: transparent;
outline: none;
cursor: pointer;
}

.mic {
position: relative;
right: 35px;
bottom: 0;  
}

.visited_site {
display: flex;
justify-content: center;
margin-top: 30px;
}

.fas.fa-ellipsis-v {
font-size: 12px;
color: #7e7979;
}

.site_icon {
display: flex;
flex-direction: column;
width: 110px;
border-radius: 4px;
}

.site_hover {
opacity: 0;
-ms-flex-item-align: end;
align-self: flex-end;
margin: 10px 10px;  
}

.site_circle {
background-color: #ece6e6;
border-radius: 50%;
display: flex;
justify-content: center;
align-self: center;
height: 50px;
width: 50px;
}

.icon_link {
align-self: center;
}

.icon_link img {
padding: 5px;
width: 30px;
height: 30px;
}


.site_text {
margin-left: 10px;
margin-top: 15px;
margin-bottom: 15px;
font-family: "Myriad Pro", sans-serif;
font-size: 12px;
color: #645d5d;
text-align: center;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
max-width: 70%;
}

.site_icon:hover {
background-color: #c0b8b829;
transition: .3s ease-in;
}

.site_icon:hover .site_hover {
opacity: 1;
-webkit-transition: .5s ease-in;
transition: .5s ease-in;
}
s