body {
    background-color: white;
}

h1 {
    text-align: left;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
    margin-bottom: 10px;
}

.btn {
    display: flex;
}

.btn > form {
    display: block;
    justify-content: flex-start;
    flex: none;
    margin: 10px;
}
form > button {
    background: white;
    box-shadow: 0 0 5px rgba(196, 192, 192, 0.733);
    border: none;
    border-radius: 25px;
    padding: 20px 20px 30px 40px;
    font-size: 20px;
    }


