body {
  margin: 0;
  padding: 0;
  background-color: #2a3b40;
  font-family: 'Raleway', 'Cookie', 'Encode Sans', Arial, sans-serif;
}

ul {
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1 {
  margin-top: 80px;
  font-family: 'Cookie';
  font-size: 80px;
  font-weight: normal;
  color: #2c3a42;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* HEADER */

.header {
	width: 100%;
	padding-top: 50px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.row {
  display: flex;
  justify-content: space-between;
  
}

.header__logo,
.header__navigation a {
	font-size: 30px;
	font-weight: 700;
    color: #d5dadb;
    text-transform: uppercase;
}

.header__navigation ul {
  display: flex;
  list-style-type: none;
}

nav.header__navigation li {
  padding-top: -50px;
  padding-left: 30px;
  font-weight: bold;
}

/* BANNER */

.banner {
  height: 100vh;
  background: url('../img/booking/1.png')
              center no-repeat;
              background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner__description {
  width: 40%;
  height: 50%;
  background: #ffffffb4;
  text-align: center;
}

.banner p {
  position: relative;
  top: -70px;
  font-family: 'Raleway';
  font-size: 60px;
  font-weight: normal;
  color: #ad6c12;
  text-transform: uppercase;
}

.btn1 {
  margin-top: -100px;
  padding: 15px 25px;
  font-family: 'Raleway';
  font-size: 30px;
  font-weight: normal;
  color:#26363a;
  text-transform: uppercase;
  border: none;
  background-color: #fff;
}

/* COL & PAD */

.col-6 {
  width: 50%;
}
.col-2 {
  width: 16.666%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.333%;
}
.pad-35 {
  margin: 0 -35px;
}
.pad-35 > div {
  padding: 0 35px;
}
.pad-120 {
  margin: 0 -120px;
}
.pad-120 > div {
  padding: 0 120px;
}

/* TwoColumnSection */

.twoColumnSection {
  background-color: #2a3b40;
  padding: 65px 0;
}

.twoColumnSection__description {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

.twoColumnSection__description p {
  opacity: 0.6;
  line-height: 2;
}

/* ThreeColumnSection */

.threeColumnSection {
  background: #d4d8d9;
  padding: 65px 0;
  color:  #2a3b40;
  line-height: 2;
}

.threeColumnSection__item--circle span {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #2a3b40;
  padding-bottom: 30px;
}

.threeColumnSection h2 {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
}

.threeColumnSection p {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}


/* INDIA */

.india {
  height: 180%;
  background: url('../img/menu/bckg_menu.png')
              center no-repeat;
  background-size: cover;
}

.discover__menu {
  top: 90px;
  position: relative;
  background: #ffffffb4;
  text-align: center;
}

.menu__description--item {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0;
    width: 100%;
  }

  .menu__description--item a{
    color: #26292b;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
  }

.menu__description--item:nth-child(3n+2) {
  display: flex;
  flex-direction: row-reverse;
}

.plate__description {
    width: 50%;
    padding-left: 40px;
    padding-right: 40px;
}

.plate__img {
    width: 50%;
}

.plate__img img {
    width: 100%;
}


/* MENU DISCOVER */

.menu {
    height: 100%;
    width: 100%;
    background: url('../img/traditionalCuisine//bckg__disc.png')
                center no-repeat;
    background-size: cover;
    padding-top: 30vh;
  }
  
  .discover {
    height: 100%;
    background: #ffffffb4;
    text-align: center;
  } 
  
  .discover__title {
    padding-top: 1rem;
  }
  
  .discover__title p {
    font-family: 'Raleway';
    font-size: 40px;
    color: #ad6c12;
    text-transform: uppercase;
  }
  
  .discover__title span {
    font-family: 'Cookie';
    font-size: 60px;
    color: #2c3a42;
    text-transform: none;
  }
  
  .menu__item {
    display: flex;
    align-items: center;
    text-align: left;
    margin: 0;
  }
  
  .menu__description--item h2,
  .menu__item H2,
  .menu__item a {
    color: #26292b;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;

  }

  .menu__item a {
    color: #26292b;
    font-weight: bold;
  }
  
  .menu__description--item p,
  .menu__item p {
    color: #26292b8e;
    font-size: 16px;
    font-weight: bold;
  }
  
  .menu__item > div {
    margin: 0 10px;
  }
  
  .menu__item--img {
    width: 80px;
  }

/* TradicionalCuisine */

.tradicionalCuisine {
  height: 45vh;
  background: url('../img/traditionalCuisine/bg_tradicional.png')
                center no-repeat;
    background-size: cover;
    display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.traditional {
  width: 700px;
}

.traditional__description p {
  opacity: 0.6;
}

.traditional__circle span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 70%;
  background-color: #2a3b40;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 30px auto;
}

.traditional__navigation {
  display: flex;
  justify-content: center;
}

.traditional__navigation ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  width: 400px;

}

nav.traditional__navigation li {
  font-weight: bold;
}

.traditional__navigation a {
  font-size: 15px;
  font-weight: 700;
  color: #2a3b40;
}

/* BOOKING */

.booking {
  color: #ffffff;
}

.first__bckg {
  height: 100vh;
  background: url(../img/booking/first__bckg.png);
  background-size: cover;
}

.second__bckg {
  height: 100vh;
  background: url(../img/booking/second__bckg.png);
  background-size: cover;
}

.booking__name {
  padding-top: 65px;
}

.booking__name:last-child {
    padding-bottom: 70px;
}
  

.booking__title h2 {
  font-family: 'Cookie';
  font-size: 70px;
  text-align: center;
  font-weight: normal;
}

  .booking .row {
  margin-left: 150px;
}
button.btn2,
input,
select {
    width: 240px;
    height: 32px;
    border-radius: 5px;
    color: #fff;
    background-color: #2a3b40;
    outline: none;
    font-size: 15px;
    font-family: 'Raleway';
    border: 2px solid;
}

time {
    color: #fff;
}


label {
    padding-right: 100px;
}

button.btn2 {
    text-transform: uppercase;
    margin-bottom: 70px;
    position: relative;
    left: 500px;
}

/* NEW__CARDS*/

.new__cards {
    background: #d4d8d9;
}

.new__cards .discover__title {
    text-align: center;
}

.new__card {
    display: flex;
    justify-content: space-between;
} 

.new__card--item {
    background-color: #fff;
    width: 339px;
    height: 500px;
    margin-bottom: 100px;
}

.new__card--description {
    padding: 20px;
    font-size: 14px;
} 

.new__card--description p {
    color:#555555;
}

.new__card--description p.fz13 {
    font-size: 13px;
    color: #000;
  }
  
.new__card--description a {
    text-transform: uppercase;
    text-decoration: none;
    color:#363636;
    padding-bottom: 20px;
} 

.section__title:after {
	content: "";
    display: block;
    width: 80px;
	height: 7px;
	background-color: #ff992b;
}
 
/* ABOUT */
.about {
    color: #fff;
}

.about__review {
    text-align: center;
}

.about__review h2{
    font-size: 40px;
    font-family:  serif;
}

.about__review p {
    font-size: 15px;
    font-weight: 400;
    padding: 0 150px 20px 150px; 
    color: rgba(255, 255, 255, 0.712);
}

.about__review p.name {
    font-size: 16px;
    color: #fff;
}

.about__social {
	display: flex;
    justify-content: center;
    padding-bottom: 45px;
}

.social__item {
	width: 55px;
	height: 55px;
	padding: 12px 15px;
	background-color: #fff;
	border-radius: 50%;
	font-size: 30px;
    color: #2a3b40;
    margin: 30px 20px;
    text-decoration: none;
}

.social__item:hover {
	background-color: #f38181;
    color: #fff;
}

/* FOOTER */

footer {
    background: #ffffffb4;

}

.footer__info {
    display: flex;
    padding-bottom: 70px;
}

.footer__box1 {
    width: 50%;
}

.footer__box2 {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.footer__box-i {
    width: 25%;
}

footer h2,
footer h3 {
    padding-top: 70px;
    padding-left: 0;
    padding-bottom: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
}

footer p {
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.footer__box1 p {
    padding-right: 220px;
}

footer a {
text-decoration: none;
color: #12191b;
font-size: 18px;

}
a:hover {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}