body, 
ul,
li {
  margin: 0;
  padding: 0;
  background-color: #2a3b40;
  font-family: 'Raleway', 'Cookie', 'Encode Sans', Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1 {
  margin-top: 80px;
  font-family: 'Cookie';
  font-size: 80px;
  font-weight: normal;
  color: #2c3a42;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* HEADER */

.header {
	width: 100%;
	padding-top: 50px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.row {
  display: flex;
  justify-content: space-between;
}

.header__logo,
.header__navigation a {
	font-size: 30px;
	font-weight: 700;
    color: #d5dadb;
    text-transform: uppercase;
}

.header__navigation ul {
  display: flex;
  list-style-type: none;
}

nav.header__navigation li {
  padding-top: -50px;
  padding-left: 30px;
  font-weight: bold;
}

/* BANNER */

.banner {
  height: 100vh;
  background: url('../img/banner/banner.png')
              center no-repeat;
              background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner__description {
  width: 30%;
  height: 40%;
  background: #ffffffb4;
  text-align: center;
}

.banner p {
  position: relative;
  top: -70px;
  font-family: 'Raleway';
  font-size: 60px;
  font-weight: normal;
  color: #ad6c12;
  text-transform: uppercase;
}

.btn1 {
  margin-top: -100px;
  padding: 15px 25px;
  font-family: 'Raleway';
  font-size: 30px;
  font-weight: normal;
  color:#26363a;
  text-transform: uppercase;
  border: none;
  background-color: #fff;
}

/* COL & PAD */

.col-6 {
  width: 50%;
}
.col-2 {
  width: 16.666%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.333%;
}
.pad-35 {
  margin: 0 -35px;
}
.pad-35 > div {
  padding: 0 35px;
}
.pad-120 {
  margin: 0 -120px;
}
.pad-120 > div {
  padding: 0 120px;
}

/* TwoColumnSection */

.twoColumnSection {
  background-color: #2a3b40;
  padding: 65px 0;
}

.twoColumnSection__description {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

.twoColumnSection__description p {
  opacity: 0.6;
  line-height: 2;
}

/* ThreeColumnSection */

.threeColumnSection {
  background: #d4d8d9;
  padding: 65px 0;
  color:  #2a3b40;
  line-height: 2;
}

.threeColumnSection__item--circle span {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #2a3b40;
}

.threeColumnSection h2 {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
}

.threeColumnSection p {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

/* MENU DISCOVER */

.menu {
  height: 100vh;
  background: url('../img/traditionalCuisine//bckg__disc.png')
              center no-repeat;
  background-size: cover;
  padding-top: 15%;
}

.discover {
  height: 70vh;
  background: #ffffffb4;
  text-align: center;
} 

.discover__title {
  padding-top: 2rem;
}

.discover__title p {
  font-family: 'Raleway';
  font-size: 40px;
  color: #ad6c12;
  text-transform: uppercase;
}

.discover__title span {
  font-family: 'Cookie';
  font-size: 60px;
  color: #2c3a42;
}


.menu__item {
  display: flex;
  align-items: center;
  text-align: left;
  margin: 0;
}

.menu__item H2 {
  color: #26292b;
  font-weight: bold;
  text-transform: uppercase;
}

.menu__item a {
  color: #26292b;
  font-weight: bold;
}

.menu__item p {
  color: #26292bbe;
}

.menu__item > div {
  margin: 0 10px;
}

.menu__item--img {
  width: 8rem;
}


/* INDIA */


/* TradicionalCuisine */


/* DISCOVER */


 