legend {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

button {
    color: #fff;
    background-color: #007bff;
    font-size: 16px;
    border: 1px solid transparent;
    border-color: #007bff;
    border-radius: 4px;
    width: 75%;
}

button:hover {
    color: #000;
}

.modal {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}

.modal-body {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 650px;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 3px solid rgba(0,0,0, 1);
    border-radius: 5px;
    outline: 0;
    margin: 0 auto;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
} 

h5 {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 16px;
    margin-bottom: 16px;
    font-family: Arial,sans-serif;
    font-weight: bold;
}

.modal-text {
    color: red;
    position: relative;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 16px;
    margin-bottom: 5px;
    font-weight: bold;
}

.modal-text span {
    color: black;
}

.modal-btn {
    display: flex;
    border-top: 1px solid #e9ecef;
    font-weight: 400;
    text-align: end;
    white-space: nowrap;
    border-radius: 4px;
}

.closeMyModal {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    font-size: 14px;
    margin: 5px auto;
    max-width: 20%;
}

.closeMyModal:hover {
    color: rgb(255, 238, 0);
}

.persons {
    display: flex;
    &__list {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        font-weight: bold;
        text-align: center;
        &--item {
            width: 20%;
            img {
               width: 150px;
            }
        }
    }
    &__filters {
        width: 25%;
    }
}
.form__item {
    margin-bottom: 15px;
    margin-right: 20px;
    label {
        display: block;
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 5px;
    }
    input, select {
        width: 100%;
    }
}

.v__check {
   margin-top: 15px;
   font-size: 13px !important;
}

.form__item--row.v__check {
   width: 30%;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.v__20 {
    padding: 0 20px;
    font-size: 12px;
}