body {
    font-family: 'Rubik';
    font-weight: 400;
}

h1 {
    font-size: 50px;
    margin-left: 50px;
}

.window {
    display: flex;
    display: inline-flex;
    justify-content: space-between;
}

.select {
    display: block;
    width: auto;
    height: 60px;
    border-radius: 30px;
    margin-left: 30px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 10px 12px rgba(250,250,250,1);
    -moz-box-shadow: 0px 0px 10px 12px rgba(250,250,250,1);
    box-shadow: 0px 0px 10px 12px rgba(250,250,250,1);
}

select {
    margin: 15px 20px;
    height: 30px;
    width: auto;
    font-size: 20px;
    border: none;
    padding-right: 10px;
}

.my-select {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    width: auto;
    margin: 12px 20px;
}

.select:hover {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(20, 201, 65);
    -moz-box-shadow: 0px 0px 10px 2px rgba(20, 201, 65);
    box-shadow: 0px 0px 10px 2px rgb(20, 201, 65);
}

#my-btn1,
#my-btn2 {
    width: 190px;
    height: 58px;
    margin: 1px 20px;
    font-size: 20px;
    background-color: #fff;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 10px 12px rgba(250,250,250,1);
    -moz-box-shadow: 0px 0px 10px 12px rgba(250,250,250,1);
    box-shadow: 0px 0px 10px 12px rgba(250,250,250,1);
    border: none;
}

#my-btn2 {
    width: 120px;
}

select,
button:active, 
button:focus {
    outline: none;
}

#my-btn1.focus, #my-btn1:focus,
#my-btn2.focus, #my-btn2:focus {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(20, 201, 65);
    -moz-box-shadow: 0px 0px 10px 2px rgba(20, 201, 65);
    box-shadow: 0px 0px 10px 2px rgb(20, 201, 65);
}




