body{
  margin: 0;
  background: #f4f6f8;
}
*{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url(fileName.woff2) format('woff2');
  unicode-range: U+0400-045F;
  box-sizing: border-box;
}
p{
  color: #34404b;
  margin: 0;
  font-size: 16px;
}
a{
  text-decoration: none;
  color: #28313b;
}
a:visited{
  color: #34404b!important;
}
h1{
  color: #ff5912;
  font-size: 51.15px;
  margin: 0;
  font-weight: 700;
}
h3{
  margin: 14px 0;
  font-size: 18px;
  font-weight: 700;
  color: #3c4751;
}
h2{
  font-size: 36px;
  font-weight: 800;
  color: #34404b;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header{
  max-height: 182px;
  padding-top: 25px;
  padding-bottom: 22px;
  background: #fff;
}
.header__contactsInfo > a{
  margin-left: 15px;
  color: #34404b!important;
}
.header__contactsInfo > a > img{
  margin-right:  10px;
}
.header__contactsSocial > a{
  margin-right: 10px;
  padding: 4px;
}
.banner_controller{
  display: inline;
}
.banner__description{
  display: inline-block;
}
.header__menu{
  padding-top:42px;
}
.header__navigation ul {
  position: relative;
  display: flex;
  list-style-type: none;
  left: -50%;
}
a > span{
  color: #ff5912!important;
}
nav.header__navigation li {
  padding: 15px;
  color: #34404b!important;
}
nav.header__navigation li > a {
  color: #34404b!important;
}
nav.header__navigation li:hover {
  border-radius: 10px;
  box-shadow: 1px 1px 5px #D6D6D6;
}
.header__logo{
  padding-left: 15px;
}
.header__search > a:nth-child(2){
  margin: 0 15px;
}
.header__search{
  padding: 10px;
  min-height: 80px;
}
.header__search > a{
  padding: 7px 4px 4px 4px;
}
.header__search > a:hover{
  border-bottom: 2px solid #3f4a55;
}
.header__contactsSocial > a:hover{
  border-bottom: 2px solid #3f4a55;
}
section.banner {
  min-height: 100vh;
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}
section.banner > .container{
  position: relative;
}
.banner_controller{
  position: absolute;
  left: 15px;
  top: 229px;
  margin: 52px 0;
}
.banner__description{
  position: absolute;
  left: 115px;
  top: 229px;
}
.banner__description--price > p{
  display: inline-block;
  color: #3c4751;
  font-weight: 700;
}
.banner__description--price > a > span{
  color: #ff5912;
  font-size: 18px;
  font-weight: 500;
  margin-left: 10px;
}
.banner__description--price > a{
  display: inline;
  margin-left: 15px;
}
.banner__description > h3 + p{
  margin-bottom: 64px;
}
.newArrivals__title > h2 > span{
  color: #ff5912;
  font-weight: 800;
}
.newArrivals__title{
  text-align: center;
}
.newArrivals__products{
  margin-top: 80px;
  display: inline-block;
  align-items: center;
  text-align: center;
}
.newArrivals__products--1,.newArrivals__products--2,
.newArrivals__products--3,.newArrivals__products--4{
  float: left;
  width: 270px;
  height: 365px;
  background: #fff;
}
.newArrivals__products--1,.newArrivals__products--2,
.newArrivals__products--3{
  margin-right: 40px;
}
.newArrivals__products--1 > img,.newArrivals__products--2 > img,
.newArrivals__products--3 > img,.newArrivals__products--4 > img{
  margin: 30px 0;
}
.newArrivals__products--1 > p,.newArrivals__products--2 > p,
.newArrivals__products--3 > p,.newArrivals__products--4 > p{
  font-weight: 700;
}
.newArrivals__products--price > p{
  margin-top: 30px;
  color: #ff5912;
  font-weight: 700;
}
.newArrivals__loadMoreProducts{
  margin-top: 80px;
  margin-bottom: 119px;
}
.advertisement__hotDeal{
  display: inline-block;
  width: 670px;
  height: 100px;
  background: #fff;
  margin-right: 30px;
}
.hotDeal--logo{
  color: #fff;
  min-height: 100px;
  position: relative;
  text-align: center;
  float: left;

}
.hotDeal--logo > img{
  padding: 10px 62px;
}
.hotDeal--logo > span{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.hotDeal--logo > img + span > span{
  font-weight: 700;
  font-size: 18px;
}
.hotDeal--logo > img + span{
  font-size: 12px;
  font-style: italic;
}
.advertisement__hotDeal--desc{
  min-width: 300px;
  min-height: 100px;
  float: left;
  padding-top: 10px;
}
.advertisement__hotDeal--desc > h3{
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 12px;
}
.advertisement__hotDeal--desc > p{
  font-size: 12px;
}
.advertisement__hotDeal--price{
  float: right;
  min-height: 100px;
  min-width: 165px;
  padding-top: 36px;
  padding-right: 60px;
  text-align: center;
}
.advertisement__hotDeal--price > p > span{
  color: #ff5912;
  font-size: 32px;
  padding-left: 10px;
  font-weight: 700;
}
.advertisement__hotDeal--price > p > span > span{
  color: #ff5912;
  font-size: 22px;
  font-weight: 700;
}
.advertisement__Adv{
  vertical-align: top;
  display: inline-block;
  width: 470px;
  height: 100px;
  background: #fff;
  text-align: center;
}
.advertisement__Adv > p{
  padding-top: 28px;
  padding-bottom: 5px;
  font-weight: 700;
}
.advertisement__Adv > p > span{
  color: #ff5912;
  font-weight: 700;
}
.advertisement__Adv > span{
  color: #aeb3b7;
  font-size: 13px;
}
.bestSales__title > h2 > span{
  color: #ff5912;
  font-weight: 800;
}
.bestSales__title{
  margin-top: 119px;
  text-align: center;
}
.bestSales__products{
  margin-top: 80px;
  margin-bottom: 119px;
}
.bestSales__products--1,.bestSales__products--2,.bestSales__products--3{
  background: #fff;
  height: 161px;
  width: 370px;
  float: left;
}
.jacket{
  padding: 36px;
  float: left;
}
.product__description{
  float: left;
}
.product__starsAndPrice{
  margin-top: 34px;
  float: left;
}
.product__starsAndPrice--stars{
  float: left;
}
.product__starsAndPrice--price{
  height: 27px;
  float: left;
  margin-left: 50px;
}
.product__starsAndPrice--price > span{
  color: #ff5912;
  font-weight: 600;
}
.product__description > p{
  font-weight: 700;
  margin-top: 48px;
  margin-left: 15px;
}
.product__description > img{
  display: inline;
  padding-left: 8px;
  padding-top: 30px;
}
.product__description > img + p{
  margin: 0;
  padding-bottom: 10px;
  display: inline-block;
}
.joinUs > .container{
  background: #fff;
  margin-bottom: 122px;
}
.joinUs__icon{
  padding: 55px 15px 55px 55px;
  display: inline-block;
}
.joinUs__icon > h3{
  color: #ff5912;
}
.row1{
  display: inline-flex;
}
.joinUs__description{
  margin: 55px 190px 55px 0;;
  padding: 14px 0;
  display: inline-block;
}
.joinUs__description > p{
  font-style: italic;
  font-size: 14px;
}
.joinUs__enterEmail{
  display: inline-block;
}
.joinUs__button{
  height: 50px;
  width: 100px;
  border: none;
  background: #ff5912;
  color: #fff;
  font-size: 14px;
}
.joinUs__enterEmail--icon{
  margin-right: 10px;
  display: inline;
}
.joinUs__enterEmail--enter{
  margin-right: 140px;
  display: inline-block;
}
.joinUs__enterEmail--button{
  display: inline-block;
}
.joinUs__enterEmail--input{
  border: none;
  font-style: italic;
  font-size: 14px;
  outline: none;
}
footer.footer{
  background: #fff;
}
.footer__copyRight--text > span{
  font-size: 14px;
}
.footer__copyRight--text{
  padding-top: 22px;
}
.footer__copyRight{
  margin-top: 84px;
  margin-bottom: 84px;
}
.footer__links--firstcolumn li:nth-child(2),
.footer__links--secondcolumn li:nth-child(2){
  padding: 15px 0;
}
.footer__links--thirdcolumn li:first-child{
  padding-bottom: 14px;

}
.footer__links--firstcolumn ul,.footer__links--secondcolumn ul,
.footer__links--thirdcolumn ul{
  padding-left: 0;
  margin: 0;
}
.footer__links--firstcolumn,.footer__links--thirdcolumn{
  min-width: 85px;
  min-height: 140px;
}
.footer__links--secondcolumn{
  min-width: 170px;
  min-height: 140px;
  margin-left: 115px;
  margin-right: 30px;
}
.footer__links{
  margin-top: 60px;
}
.footer__links--firstcolumn li:first-child{
  color: #ff5912;
}
.Payment{
  min-width: 170px;
  min-height: 140px;
}
.Payment > p{
  padding-top: 40px;
  color: #ff5912;
  font-weight: 700;
  padding-bottom: 22px;
}
