.name{
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 28px;
    border: none;
    background-color: #fff;
    box-shadow: 0px 5px 20px rgba(193, 193, 193, 0.431);
    margin-right: 14px;
    cursor: pointer;

}

.menu {
    display: inline-block;
}
.none{
    z-index: 999;
    display: none;
}