.UsersList__item{
  display: flex;
  word-break: break-word;
  text-align: center;
  &>div{
    height: 38.4px;
    margin: 16px 0;
  }
  &--desc{
    width: 33.333%;
    padding: 10px;
    border-left: 2px solid black;
    &:first-child{
      border: none;
    }
    &--btn{
      cursor: pointer;
    }
  }

}
.NamesOfColumns{
  display: flex;
  margin-bottom: 10px;
  border-bottom: 2px solid black;

  &__item{
    border-left: 2px solid black;
    text-align: center;
    padding: 10px;
    width: 33.333%;
    &:first-child{
      border: none;
    }
  }
}
.Modal {
  border-radius: 15%;
  position: fixed;
  top: 5%;
  left: 50%;
  margin-left: -200px;
  color: #fff;
  background: rgba(0, 0, 0, 0.87);
  padding: 30px;
  display: none;
  z-index: 99999;
  &.show{
    display: block;
  }
  &__Header--Name{
    font-weight: bold;
    font-size: 18px;
    color: rgb(55, 251, 14);
  }
  &__Close{
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 20px;
    &--closebtn{
      cursor: pointer;
    }
  }
}
