@import url('https://fonts.googleapis.com/css?family=Cookie|Encode+Sans:400,600|Raleway:400,600&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #2a3b40;
  font-family: 'Raleway', 'Cookie', 'Encode Sans', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  margin: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

a {
  text-decoration: none;
}

h1:hover,
h2:hover,
h3:hover,
p span:hover {
  cursor: pointer;
  text-decoration: underline;
}

img {
  width: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* COL */

.col-xs-3 {
  width: 25%;
}
.col-xs-4 {
  width: 33%;
}
.col-xs-6 {
  width: 50%
}
.col-xs-12 {
  width: 100%;
}

.discover__title {
  padding-top: 1rem;
}

.discover__title p {
  font-family: 'Raleway';
  font-size: 40px;
  color: #ad6c12;
  text-transform: uppercase;
}

.discover__title span {
  font-family: 'Cookie';
  font-size: 60px;
  color: #2c3a42;
  text-transform: none;
}

@import "app/_scss-core/_core";
@import "scss/helpers";
@import "scss/typography";
@import "scss/header";
@import "components/burger";;
@import "scss/banner";
@import "scss/twoColumnSection";
@import "scss/threeColumnSection";
@import "scss/india";
@import "scss/tradicionalCuisine";
@import "scss/menu";
@import "scss/first__bckg";
@import "scss/second__bckg";
@import "scss/booking";
@import "scss/new__cards";
@import "scss/about";
@import "scss/footer";
@import "scss/media_max575";
@import "scss/media_max767";
@import "scss/media_max1023";
@import "scss/media_max1199";
@import "scss/media_max1400";



