 @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');



body {
  background: rgb(117, 255, 140);
  font-family: 'Montserrat', serif;
}

// img {
//   max-width: 100%;
// }
// body { background-color: red;}


@import "app/_scss-core/_core";

@import "scss/helpers";

@import "scss/typography";

@import "components/example.scss"

