
.slick-dots{
  bottom: -50px;

  & li > button {
    list-style-type: none;

    &:before {
        font-size: 20px;
        content: "\1F9A0";
    }
  }
}

.Slick-Carousel{
  margin-top: 10px;

  &__item{
    padding: 0 10px;

    & > img{
      box-shadow: 2px 2px 5px black;
    }
    &1 > img{
      width: 87%;
      margin: 0 auto;
      box-shadow: 2px 2px 5px black;
    }
  }
}
