<!DOCTYPE html>
<html>

<head lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Test</title>

</head>

<body>
    {{> _partials/header }}
    {{> _partials/banner }}
    {{> _partials/aboutUs}}
    {{> _partials/featuredWorks}}
    {{> _partials/services}}
    {{> _partials/team}}
    {{> _partials/comments}}
    {{> _partials/partners}}
    {{> _partials/contactUsAndMap}}
    {{> _partials/footer}}
</body>
</html>
