<h2>Массивы</h2>
<p>У нас есть ассоциативный массив, в котором хранятся данные:</p>
    <pre><code>var myObject = { "name": "Поздравление",
                     "month": [ "Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август" ],
                     "random array": [ 5, true, { year: 2018, number: 8 }, 12, 25.4],
                     "year array": [ 2017, 2018 ] };</code></pre>

<p> 1. Добавте в разные части массива следующие данные (с ключами при необходимости)
     "С", "праздником", "1", "Апреля", "!".<br>
    2. Вызовите их в модальным окне одним предложением: "С праздником 1 апреля!"<br>
    3. Удалите последний элемент массива "random array".<br>
    4. Отсортируйте массив элементов "month" в порядке по возрастанию цифр / порядка букв алфавита.<br>
    5. Выведите в консоль измененный массив.</p><br>
    <input type="button" value="Выполнение задания" class="example_1">