* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "YS Text",Arial,sans-serif;
    color: #222;
    font-size: 34px;
    margin-left: 200px;
    margin-top: 150px;
    letter-spacing: -.3px;
}

.afisha {
    display: flex;
    margin-left: 200px;
}

#first,
.date {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-right: 15px;
    height: 44px;
    width: 115px;
    border-radius: 30px;
    border: none;
    background: rgb(255, 255, 255);
    box-shadow: rgba(193, 193, 193, 0.5) 0px 5px 20px;
    transition-duration: 0.5s;
}

select {
    position: absolute;
    height: 24px;
    width: 110px;
    margin-top: 10px;
    padding-left: 10px;
    font-family: Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    border: none; 
}

option {
    outline: none;
}

a {
    text-decoration: none;
} 

.date:hover,
#first:hover {
    box-shadow: rgba(193, 193, 193, 1) 0px 5px 20px;
    transform: translateY(-5px);
}

#first:active, 
#first:focus {
    outline: none;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0,.5);
    pointer-events: none;
    display: none;
    z-index: 999;
}

.modal:target {
    display: block;
    pointer-events: auto;
}

.popup {
    width: 500px;
    position: relative;
    margin: 10% auto;
    padding: 20px;
    background-color: #fff;
}
.close  {
    width: 30px;
    height: 30px;
    position: absolute;
    color: #fff;
    font-style: 20px;
    /* top: -30px; */
    right: 15px;
    text-decoration: none;
    display: block;
}

.modal-body {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 498px;
    height: 190px;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    outline: 0;
    margin: 27px auto;
    -webkit-animation: rotation 1s linear;
}

    @-webkit-keyframes rotation {
        from {transform: rotate(0)
            scale(0.1);}
        50%  {transform: rotate(180deg)
            scale(0.5);} 
        to {transform: rotate(360deg) scale(1);}
    }

.modal-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

h5 {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 16px;
    margin-bottom: 16px;
    font-family: Arial,sans-serif;
    font-weight: bold;
}

.close {
   align-items: flex-end;
   color: rgba(105, 105, 103, 0.856);
   font-size: 15px;
   font-family: Arial, Helvetica, sans-serif;
   margin-top: 16px;
   margin-right: 5px;
   margin-bottom: 16px;
   font-weight: bold;
   cursor: pointer;
}

.close:hover {
   transform: scale(2);
}

.modal-text {
    color: #6c757d;
    position: relative;
    font-size: 16px;
    font-family: Arial,sans-serif;
    margin-top: 20px;
    margin-left: 16px;
    margin-bottom: 25px;
}

.modal-btn {
    display: flex;
    border-top: 1px solid #e9ecef;
    font-weight: 400;
    text-align: end;
    white-space: wrap;
    border-radius: 4px !important;
    justify-content: space-between;
}

.btn-m2 {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    font-size: 14px;
    margin-top: 16px;
    margin-left: 280px;
    margin-bottom: 16px;
}

.btn-m2:hover {
    color: red;
    transform: scale(1.1);
}

.btn-m2.focus, .btn-m2:focus {
    box-shadow: 0 0 0 4px rgba(228, 12, 12, 0.212);
    outline: none;
}

.btn-m1 {
    color: #fff;
    background-color: #007bff;
    font-size: 14px;
    border: 1px solid transparent;
    border-color: #007bff;
    margin-top: 16px;
    margin-right: 20px;
    margin-bottom: 16px;
    padding-left: 20px;
    padding-right: 10px;
}

.btn-m1:hover {
    color: rgb(34, 250, 34);
    transform: scale(1.1);
}

.btn-m1.focus, .btn-m1:focus {
    box-shadow: 0 0 0 4px rgba(34, 250, 34, 0.384);
    outline: none;