<section class="banner">
  <div class="banner__slider">
    <a href="../images/banner.png" class="fancybox" rel="gallery" title="WorkName">
      <div class="works__portfolio--item">
        <div class="works__portfolio--item--img">
          <img src="../images/portfolio/1.png" alt="">
        </div>
        <div class="works__portfolio--item--desc">
          <h3>Lorem ipsum dolor.</h3>
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
    </a>
  </div>
</section>
