.button_model {
    margin:30px
}


.modal_wrapper {
   position: absolute;
   top:0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0,5);
    box-sizing: border-box;
}