body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
  
button  {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

a {
  text-decoration: none;
}

h1, h2 {
  font-family: 'Poppins', sans-serif;
}

h3 {
  font-family: 'Noto Serif KR', serif;
}

h1:hover,
h2:hover,
h3:hover,
p span:hover {
  cursor: pointer;
  text-decoration: underline;
}

img {
  width: 100%;
}

.container {
  width: 1150px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}


/* COL */

.col-xs-3 {
  width: 25%;
}
.col-xs-4 {
  width: 33%;
}
.col-xs-40 {
  width: 40%;
}
.col-xs-60 {
  width: 60%;
}
.col-xs-6 {
  width: 50%
}
.col-xs-12 {
  width: 100%;
}


/* HEADER */

header.row {
  flex-wrap: nowrap;
}

.header {
  width: 100%;
  padding-top: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}


/* BURGER MENU */

.open__burger {
  color: #606061;
  padding-right: 3%;
  font-size: 40px;
}

.nav__burger {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  position: fixed;
  z-index: 1;
  overflow: auto;
  background-color: rgba(0,0,0,0.1);
}

.nav__burger--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #77efe5ce;
  justify-content: space-between;
  max-height: 20vh;
  max-width: 100%;
  margin: 0 auto;
}

.nav__burger--close,
.burger__mobil {
  font-size: 40px;
  color: #505050;
  font-weight: 700;
}

.burger__mobil:hover {
  text-decoration: underline;
}


/* SAYHELLO */

.sayHello {
  min-height: 100vh;
  background: 
  url('../img/sayHelloBckg.png')
  center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sayHello__description {
  justify-content: center;
  margin: 0 auto;
  background: #eff0f2;
  text-align: center;
}

.sayHello__description a {
  position: relative;
  top: 150px;
  
}

.sayHello h1,
.sayHello h2 {
  font-size: 40px;
  font-weight: 800;
  color: #505050;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 3px;
  text-shadow: 3px 6px 4px rgba(50,50,50,0.21);
}

.sayHello span {
  background-color: #b2f2ee;
  padding: 4px 8px;
}

.sayHello a:hover {
  color: #030303;
  background-color: #77efe5;
  transition: .2s linear;
}

.sayHello__description--more {
  font-size: 30px;
  font-weight: 600;
  color:#3c3c3d;
  text-transform: uppercase;
  border: 3px solid #777879;
  padding: 15px 45px;
  letter-spacing: 3px;
}


/* AboutUs */

.aboutUs {
  min-height: 50vh;
  background-color: #f8fafa;
}

.aboutUs__title {
  text-align: center;
  text-transform: uppercase;
  line-height: 2;
  padding-top: 2%;
  padding-bottom: 1%;
}

.aboutUs__title h2 {
  font-size: 30px;
  letter-spacing: 2px;
  color: rgb(24,25,25);
}

.aboutUs__title h4 {
  font-family: 'Noto Serif KR', serif;
  font-size: 15px;
  color: rgb(94,95,95);
  font-weight: 900;
  letter-spacing: 2px;
}

.aboutUs__description h2 {
  font-family: 'Noto Serif KR', serif;
  font-size: 18px;
  font-weight: 900;
  color: rgb(62,63,63);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.aboutUs__description p {
  font-size: 15px;
  color: rgb(110,111,111);
  letter-spacing: 1px;
  line-height: 25px;
}

.aboutUs__slider,
.aboutUs__description {
  margin: 20px;
  padding: 15px 35px;
}


/* FeaturedWorks */

.featuredWorks {
  min-height: 50vh;
}

.featuredWorks__box img {
  margin: 10px;
}

.featuredWorks__box  {
  margin: 10px;
}

.featuredWorks__box img:hover {
  box-shadow: 0 0 40px #49FF18;
  transition: .2s linear;
}

/* OurServices */

.ourServices {
  min-height: 100vh;
  background-color: #f9fbfb;
  padding-bottom: 1%;
}

.ourServices__description1--intro:hover,
.ourServices__description2--intro:hover,
.ourServices__description3--intro:hover,
.ourServices__description4--intro:hover,
.ourServices__description5--intro:hover,
.ourServices__description6--intro:hover {
    -webkit-box-shadow: 5px 5px 17px 0px rgba(0,0,0,0.76); 
    box-shadow: 5px 5px 17px 0px rgba(0,0,0,0.76);
  transition: .2s linear;
}

.ourServices__description1,
.ourServices__description2,
.ourServices__description3,
.ourServices__description4,
.ourServices__description5,
.ourServices__description6 {
  background-size: cover;
  margin: 0 10px;
  display: none;
  height: 27vh;
}

.ourServices__description1 {
  background-color: #71f5ea;
}

.ourServices__description2 {
  background-color: #0d0d0e;
}

.ourServices__description3 {
  background-color: #af71f5;
}

.ourServices__description4 {
  background-color: #eeeb47;
}
.ourServices__description5 {
  background-color: #f571af;
}
.ourServices__description6 {
  background-color: #2756da;
}

.ourServices__description1 h2,
.ourServices__description2 h2,
.ourServices__description3 h2,
.ourServices__description4 h2,
.ourServices__description5 h2,
.ourServices__description6 h2 {
  font-family: 'Noto Serif KR', serif;
  font-size: 18px;
  font-weight: 900;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  letter-spacing: 2px; 
  padding: 4% 3% 0 5%; 
}

.ourServices__description1 p,
.ourServices__description2 p,
.ourServices__description3 p,
.ourServices__description4 p,
.ourServices__description5 p {
  font-size: 15px;
  color: rgb(80, 54, 54);
  letter-spacing: 1px;
  line-height: 25px; 
  padding: 0.5% 3% 0 5%; 
}

.ourServices__description6 p {
  font-size: 15px;
  color: rgb(131, 124, 124);
  letter-spacing: 1px;
  line-height: 25px; 
  padding: 0.5% 3% 0 5%;
}

.ourServices__description--close1,
.ourServices__description--close2,
.ourServices__description--close3,
.ourServices__description--close4,
.ourServices__description--close5,
.ourServices__description--close6 {
  padding: 0 0 3% 5%;
  font-size: 20px; 
  color: rgb(110,111,111);
}

.ourServices__description--close2 {
  color: rgb(110,111,111);
}

.ourServices__description1--intro {
  background: url(../img/ourServices1bckg.png)
  center no-repeat;
}

.ourServices__description2--intro {
  background: url(../img/ourServices2bckg.png)
  center no-repeat;
}

.ourServices__description3--intro {
  background: url(../img/ourServices3bckg.png)
  center no-repeat;
}

.ourServices__description4--intro {
  background: url(../img/ourServices4bckg.png)
  center no-repeat;
}

.ourServices__description5--intro {
  background: url(../img/ourServices5bckg.png)
  center no-repeat;
}

.ourServices__description6--intro {
  background: url(../img/ourServices6bckg.png)
  center no-repeat;
}

.ourServices__description1--intro,
.ourServices__description2--intro,
.ourServices__description3--intro,
.ourServices__description4--intro,
.ourServices__description5--intro,
.ourServices__description6--intro {
  background-size: cover;
  margin: 0 10px;
  display: block;
  height: 27vh;
}

.ourServices__description1--intro h2,
.ourServices__description2--intro h2,
.ourServices__description3--intro h2,
.ourServices__description4--intro h2,
.ourServices__description5--intro h2,
.ourServices__description6--intro h2 {
  font-family: 'Noto Serif KR', serif;
  font-size: 18px;
  font-weight: 900;
  color: #f7f7f7;
  text-transform: uppercase;
  letter-spacing: 2px; 
  padding: 4% 3% 0px 5%; 
}

.ourServices__description1--intro p,
.ourServices__description2--intro p,
.ourServices__description3--intro p,
.ourServices__description4--intro p,
.ourServices__description5--intro p,
.ourServices__description6--intro p {
  font-size: 15px;
  color: #c9c9c9;
  letter-spacing: 1px;
  line-height: 25px; 
  padding: 1% 3% 0px 5%; 
}

.ourServices__description--more1,
.ourServices__description--more2,
.ourServices__description--more3,
.ourServices__description--more4,
.ourServices__description--more5,
.ourServices__description--more6 {
  font-size: 20px;
  color: #c9c9c9;
  letter-spacing: 1px;
  line-height: 25px; 
  text-transform: uppercase;
  padding: 2% 3% 1% 5%;
}

.ourServices__description--more1 i,
.ourServices__description--more2 i,
.ourServices__description--more3 i,
.ourServices__description--more4 i,
.ourServices__description--more5 i,
.ourServices__description--more6 i {
  margin-left: 10px;
}

.ourServices__description--more1:hover,
.ourServices__description--more2:hover,
.ourServices__description--more3:hover,
.ourServices__description--more4:hover,
.ourServices__description--more5:hover,
.ourServices__description--more6:hover {
  text-decoration: underline;
}


/* SmallTeam */

.smallTeam {
  min-height: 80vh;
}
 
.smallTeam__box1 {
  background: no-repeat url(../img/smallTeam1.png);
  background-size: contain;
  margin: 10px;
}

.smallTeam__box2 {
  background: no-repeat url(../img/smallTeam2.png);
  background-size: contain;
  margin: 10px;
}

.smallTeam__box3 {
  background: no-repeat url(../img/smallTeam3.png);
  background-size: contain;
  margin: 10px;
}

.smallTeam__box4 {
  background: no-repeat url(../img/smallTeam4.png);
  background-size: contain;
  margin: 10px;
}

.smallTeam__box5 {
  background: no-repeat url(../img/smallTeam5.png);
  background-size: contain;
  margin: 10px;
}

.smallTeam__box6 {
  background: no-repeat url(../img/smallTeam6.png);
  background-size: contain;
  margin: 10px;
}

.smallTeam__box1:hover,
.smallTeam__box2:hover,
.smallTeam__box3:hover,
.smallTeam__box4:hover,
.smallTeam__box5:hover,
.smallTeam__box6:hover {
  -webkit-box-shadow: 5px 5px 17px 0px rgba(0,0,0,0.76); 
  box-shadow: 5px 5px 17px 0px rgba(0,0,0,0.76);
  transition: .2s linear;
}


 .small__review {
  height: 40%;
  opacity: 0;
  margin-top: 40%;
}

.small__review:hover {
  opacity: 1;
  transition: .3s linear;
}


/* whatTheySays */

.whatTheySays {
  min-height: 50vh;
  background-color: #f9fbfb;
}

.whatTheySays__title h2 {
  font-size: 30px;
  letter-spacing: 2px;
  color: rgb(24,25,25);
}

.whatTheySays span {
  font-family: 'Noto Serif KR', serif;
  font-size: 15px;
  color: #7e7e7e;
  font-weight: 900;
  letter-spacing: 2px;
}

.whatTheySays__description h2 {
  font-family: 'Noto Serif KR', serif;
  font-size: 18px;
  font-weight: 900;
  color: #0c0c0c;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 40px;
}

.whatTheySays__description p {
  font-size: 15px;
  color: #505051;
  letter-spacing: 1px;
  line-height: 25px;
  font-weight: bold;
  padding: 20px 50px;
}

.whatTheySays__slider {
  margin: 0 1%;
  padding: 1%;

}

.whatTheySays__description {
  justify-content: center;
  text-align: center;
  margin: 35px 20px;
  padding: 15px 35px;
  background-color: #eaebed;
}

.whatTheySays__description img {
  width: 105px;
  height: 18px;
}

.arrows1 {
  display: flex;
  position: relative;
  float: right;
    
}

.fasfa-angle-left,
.fasfa-angle-right {
  padding: 5px;
}

.arrows__prev,
.arrows__next {
  padding: 2px auto;
  color: #b2b2b2;
  font-size: 35px;
  margin: 0 20px 0 0;
  font-weight: normal;
  background-color: #fff;
  border-radius: 3px;
  width: 40px;
  height: 40px;
  -webkit-box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.6); 
  box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.6);
  justify-content: center;
  text-align: center;
}

.arrows__prev:hover,
.arrows__next:hover {
  background-color: #71f6eb;
  color: #25514d;
}


/* LOGO */

.logo {
  margin: 10% auto;
  min-height: 10vh;
}

.logo .row {
  justify-content: center;
}

#head, #head1 {
  margin: 0 auto;
  max-width: 60%;
}

.logo__color {
  display: none;
}


/* FormMessageContacts */

.formMessageContacts {
  min-height: 50vh;
  background: url('../img/formBckg.jpg')
  center no-repeat;
  background-size: cover;
  color: #a6aeb3;
}

.infop {
  margin: 8% 5% 0 0;
}

form {
  background-color: #0000009a;  
  padding: 3%;
  align-items: center; 
  justify-content: center;  
}

.formMessageContacts__adress {
  background-color: #0000009a;
  margin: 12% 0 5% 0;
  padding: 4%;

}

.infop button {
  text-transform: uppercase;
  background-color: #6eeee4;
  border: none;
  border-radius: 2px;
  width: 40%;
  height: 20%;
  font-weight: 700;
  letter-spacing: 2px;
  color: #26504c;
  padding: 2%;
  margin: 2% 0;
}

#message {
  float: left;
  padding-top: 3%;
}

.infop input,
textarea {
  padding-top: 3%;
  background: none;
  border: none;
  outline: none;
  width: 80%;
  color: #fff;
  font-size: 16px;
}


/* FOOTER */

footer {
  background-color: #262b2e;
  text-align: center;
}

footer p {
  color: #a9b1b1;
  font-size: 16px;
  margin: 1%;
}

footer span {
  color: #d4d5d5;
  text-transform: uppercase;
}

.social {
  padding: 1%;
}

.social__item {
  display: inline-block;
  padding: 12px;
  background-color: #424648;
  font-size: 20px;
  color: #bec0c1;
  width: 25px;
} 

.social__item:hover {
  background-color: #6eeee4;
  color: #000;
}

/* ADAPTIVE */


@media (min-width: 1024px) and (max-width: 1199px) {

  .container {
    width: 994px;
  }

}

@media (min-width: 768px) and (max-width: 1023px) {

  .container {
    width: 738px;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-6 {
    width: 50%;
  }

  
  /* BURGER */

  .fas.fa-bars,
  .nav__burger--close,
  .burger__mobil {
    font-size: 30px;
  }
  

  /* SayHello */

 .sayHello {
  flex-wrap: wrap;
  }

  .sayHello h1,
  .sayHello h2 {
  margin: 0 auto;
  line-height: 2;
  }


  /* LOGO */

  #head, #head1 {
  max-width: 100%;
  }


  /* FormMessageContacts */

  .infop {
    margin: 0;
  }


}

@media (min-width: 576px) and (max-width: 767px) {

  * {
    font-size: 13px;
  }

  .container {
    width: 546px;
  }

  .col-sm-12 {
    width: 100%;
  }
  
  .col-sm-6 {
    width: 50%;
  }


  /* HEADER */

  .header__logo {
    padding-left: 2%;
  }


  /* BURGER */

 .nav__burger--close,
 .burger__mobil {
   font-size: 20px;
   padding-right: 3%;
 }

 .open__burger {
   padding-right: 3%;
 }

 .fas.fa-bars {
   font-size: 40px;
 }

  /* SayHello */

  .sayHello {
    flex-wrap: wrap;
  }
  
  .sayHello span {
    background-color: #b2f2ee;
    font-size: 30px;
    padding: 10px auto;
  }
  
  a.sayHello__description--more {
    padding: 10px 15px;
    font-size: 17px;
  }

  .sayHello h1,
  .sayHello h2 {
  font-size: 30px;
  margin: 0 auto;
  line-height: 2;
  }
  
  /* LOGO */
 
  #head, #head1 {
  max-width: 100%;
  }

  /* FormMessageContacts */
  
  .infop {
   margin: 0;
 }

}

@media all and (max-width: 575px) {

  * {
    font-size: 12px;
  }

  .container {
    width: 96%;
  }

  .col-sm-12 {
    width: 100%;
  }
  
  .col-sm-6 {
    width: 50%;
  }


/* HEADER */

   .header__logo {
    padding-left: 2%;
  }

  
/* BURGER */

  .nav__burger--close,
  .burger__mobil {
    font-size: 15px;
  }

  .open__burger {
    padding-right: 3%;
  }

  .fas.fa-bars {
    font-size: 40px;
  }


/* SayHello */

  .sayHello {
    flex-wrap: wrap;
  }

  .sayHello span {
    background-color: #b2f2ee;
    font-size: 20px;
    padding: 10px auto;
  }
  
  a.sayHello__description--more {
    padding: 10px 15px;
    font-size: 17px;
  }

  .sayHello h1,
  .sayHello h2 {
    font-size: 20px;
    margin: 0 auto;
    line-height: 2;
  }

  
/* FeaturedWorks */

.featuredWorks__box img {
  margin: 0;
}

.featuredWorks__box  {
  margin: 5%;
}


/* LOGO */
#head, #head1 {
    max-width: 100%;
  }

/* FormMessageContacts */
  
  .infop {
    margin: 0;
  }

/* OurServices */

.ourServices__description1,
.ourServices__description2,
.ourServices__description3,
.ourServices__description4,
.ourServices__description5,
.ourServices__description6 {
  min-height: 70vh;
}

.ourServices__description1--intro,
.ourServices__description2--intro,
.ourServices__description3--intro,
.ourServices__description4--intro,
.ourServices__description5--intro,
.ourServices__description6--intro {
  background-size: cover;
  margin: 0 10px;
  display: block;
  min-height: 70vh;
}

}
