<section class="aboutUs" id="aboutUs">
  <div class="container container-xs container-md">
    <div class="aboutUs__header allHeaders">
      <h2>ABOUT US</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <div class="row pad-50 row-xs pad-md-20">
      <div class="col-6 col-xs-12">
        <div class="aboutUs__slideShow">
            <div class="aboutUs__slideShow--image">
              <img src="images/slideShow.png" alt="">
            </div>
          <div class="aboutUs__slideShow--dots">
            <span class="spanSlideShow"></span>
            <span class="spanSlideShow"></span>
            <span class="spanSlideShow"></span>
            <span class="spanSlideShow"></span>
          </div>
        </div>
      </div>
      <div class="col-6 col-xs-12">
        <div class="aboutUs__description">
          <h2>WE ACTUALLY DO AMAZING WORKS</h2>
          <p>A visual approach is an approach to a runway at an airport
            conducted under instrument flight rules. The pilot must at all times have either the airport or the preceding aircraft in approach correct sight. conducted under instrument flight rules. The pilot must at all times.</p>
            <p>Preceding aircraft in approach correct sight. conducted under instrument flight rules.</p>
          <h2>WHY WE ARE THE GREAT?</h2>
          <p>A visual approach is an approach to a runway at an airport
            conducted under instrument flight rules.<br>The preceding aircraft in approach correct sight.</p>
        </div>
      </div>
    </div>
  </div>
</section>
