<section class="banner">
  <div class="banner__description">
    <h1>SAY HELLO TO <span class="spanBanner">SHOPNO!</span><br>
    <span class="spanBanner">AGENCY</span> CORPORATE SHOPNO THEME</h1>
    <button type="button" name="button" class="banner__description--contactUsbtn">CONTACT US</button>
  </div>
</section>
