<section class="comments" id="comments">
  <div class="container container-xs container-md">
    <div class="comments__header allHeaders">
      <h2>WHAT THEY SAYS</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <div class="row row-xs">
      <div class="col-6 col-xs-12 col-md-6">
        <div class="comments__photoSlideShow">
            <div class="comments__photoSlideShow--image">
              <img src="images/team/employeeForSlideShow.png" alt="">
            </div>
          <div class="comments__photoSlideShow--dots">
            <span class="spanSlideShow"></span>
            <span class="spanSlideShow"></span>
            <span class="spanSlideShow"></span>
            <span class="spanSlideShow"></span>
          </div>
        </div>
      </div>
      <div class="col-6 col-xs-12 col-md-6">
        <div class="comments__commentsSlideShow">
          <h3>AL RAYHAN <span>/ UI/UX DESIGNER</span></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, doloribus distinctio perferendis ea, saepe numquam sint fugiat maxime tempore qui amet architecto. Consequuntur delectus repellendus iure, tempora rem doloremque. Tenetur aspernatur deserunt, nostrum. Nam voluptates at accusamus quas voluptas!</p>
          <div class="comments__commentsSlideShow--stars">
            <span class="spanStars"></span>
            <span class="spanStars"></span>
            <span class="spanStars"></span>
            <span class="spanStars"></span>
            <span></span>
          </div>
        </div>
        <div class="comments__switcherSlideShow">
          <button type="button" class="comments__switcherSlideShow--button">&#8249;</button>
          <button type="button" class="comments__switcherSlideShow--button">&#8250;</button>
        </div>
      </div>
    </div>
  </div>
</section>
