<section class="contactUsAndMap" id="contactUsAndMap">
  <div class="container container-xs container-md">
    <div class="row pad-25 row-xs">
      <div class="col-60 col-xs-12">
        <div class="contactUsAndMap__sendMessage">
          <input type="text" placeholder="Name*" class="contactUsAndMap__sendMessage--input">
          <input type="text" placeholder="Subject*" class="contactUsAndMap__sendMessage--input">
          <input type="text" placeholder="E-mail*" class="contactUsAndMap__sendMessage--input">
          <textarea name="name" placeholder="Message*" class="contactUsAndMap__sendMessage--textarea" wrap="soft"></textarea>
          <button type="button" class="contactUsAndMap__sendMessage--button">SEND MESSAGE</button>
        </div>
      </div>
      <div class="col-40 col-xs-12">
        <div class="contactUsAndMap__Map">
          <p>Address Line 1</p>
          <p>Address Line 2</p>
          <p><a href="tel:+548 945645">Phone: +548 945645</a></p>
          <p><a href="fax:+548 945645">Fax: +45645654546</a></p><br>
          <p><a href="www.designagency.net">Web: www.designagency.net</a></p>
          <p><a href="mailto:info@designagnecy.net">E-mail: info@designagnecy.net</a>
          <div class="contactUsAndMap__Map--map">
            <img src="images/map.png" alt="">
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
