<section class="featuredWorks" id="featuredWorks">
  <div class="container container-xs container-md">
    <div class="featuredWorks__header allHeaders">
      <h2>FEATURED WORKS</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <div class="featuredWorks__content">
      <div class="row pad-10 row-xs row-md pad-md-10">
        <div class="col-4 col-xs-12 col-md-6">
          <img src="images/works/firstitem.png" alt="">
        </div>
        <div class="col-4 col-xs-12 col-md-6">
          <img src="images/works/item-2.png" alt="">
        </div>
        <div class="col-4 col-xs-12 col-md-6">
          <img src="images/works/item-3.png" alt="">
        </div>
      </div>
      <div class="row pad-10 row-xs row-md pad-md-10">
        <div class="col-4 col-xs-12 col-md-6">
          <img src="images/works/item-4.png" alt="">
        </div>
        <div class="col-4 col-xs-12 col-md-6">
          <img src="images/works/item-5.png" alt="">
        </div>
        <div class="col-4 col-xs-12 col-md-6">
          <img src="images/works/item-6.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
