<footer class="footer" id="footer_social">
  <div class="container container-xs container-md">
    <h3>FOLLOW US</h3>
    <div class="row">
      <a href="#">
      <div class="footer__socialContacts">
        <div class="footer__socialContacts--pinterest">
            <img src="images/social/pinterest.png" alt="">
        </div>
      </div>
      </a>
      <a href="#">
      <div class="footer__socialContacts">
        <div class="footer__socialContacts--twitter">
            <img src="images/social/twitter.png" alt="">
        </div>
      </div>
      </a>
      <a href="#">
      <div class="footer__socialContacts">
        <div class="footer__socialContacts--facebook">
            <img src="images/social/facebook.png" alt="">

        </div>
      </div>
      </a>
      <a href="#">
      <div class="footer__socialContacts">
        <div class="footer__socialContacts--ball">
            <img src="images/social/ball.png" alt="">
        </div>
      </div>
      </a>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur.</p>
  </div>
</footer>
