<header class="header">
  <div class="container container-xs container-md">
    <div class="row">
        <div class="header__logo">
          <img src="images/logo.png" alt="">
        </div>
        <nav class="header__navigation">
          <a href="#header__navigation--burger"><img src="images/burgerMenu.png"></a>

          <div class="header__navigation--burger" id="header__navigation--burger">
            <ul>
              <li><a href="#aboutUs">About Us</a></li>
              <li><a href="#featuredWorks">Works</a></li>
              <li><a href="#Services">Our Services</a></li>
              <li><a href="#team">Our Team</a></li>
              <li><a href="#comments">Comments</a></li>
              <li><a href="#partners">Our Partners</a></li>
              <li><a href="#contactUsAndMap">Contact Us</a></li>
              <li><a href="#footer_social">Our Socials</a></li>
              <li><a href="#">X</a></li>
            </ul>
          </div>
        </nav>
    </div>
  </div>
</header>
