<section class="services" id="Services">
  <div class="container container-xs container-md">
    <div class="services__header allHeaders">
      <h2>OUR SERVICES</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <div class="row mar-10 row-xs row-md mar-md-10">
      <div class="col-60 col-xs-12 col-md-12">
        <div class="services__item">
          <div class="services__item--description color">
            <h3>LOREM IPSUM DOLOR.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae fugit, optio, eligendi doloremque dolore ab.</p>
            <div class="services__item--morebtn">
              <a href="#">KNOW MORE</a>
            </div>
          </div>
        </div>
        <div class="services__itemHover">
          <h3>DESIGNING IS THE COOL LOVE FOR</h3>
          <p>Our most popular service is our Virtual Receptionist. We know that sometimes it’s something and you middle most this job was posted less than five minutes ago, and we think it’s a good match for you. If you submit a proposal now, you’ll be one of the first candidates. You may even catch the client while they’re still online.</p>
          <button type="button" class="services__itemHover--button">X</button>
        </div>
      </div>
      <div class="col-40 col-xs-12 col-md-12">
        <div class="services__item">
          <div class="services__item--description color">
            <h3>LOREM IPSUM DOLOR.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae fugit, optio, eligendi doloremque dolore ab.</p>
            <div class="services__item--morebtn">
              <a href="#">KNOW MORE</a>
            </div>
          </div>
        </div>
        <div class="services__itemHover">
          <h3>DESIGNING IS THE COOL LOVE FOR</h3>
          <p>Our most popular service is our Virtual Receptionist. We know that sometimes it’s something and you middle most this job was posted less than five minutes ago, and we think it’s a good match for you. If you submit a proposal now, you’ll be one of the first candidates. You may even catch the client while they’re still online.</p>
          <button type="button" class="services__itemHover--button btn-col-40">X</button>
        </div>
    </div>
  </div>
    <div class="row mar-10 row-xs row-md mar-md-10">
      <div class="col-60 col-xs-12 col-md-12">
        <div class="services__item">
          <div class="services__item--description color">
            <h3>LOREM IPSUM DOLOR.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae fugit, optio, eligendi doloremque dolore ab.</p>
            <div class="services__item--morebtn">
              <a href="#">KNOW MORE</a>
            </div>
          </div>
        </div>
        <div class="services__itemHover">
          <h3>DESIGNING IS THE COOL LOVE FOR</h3>
          <p>Our most popular service is our Virtual Receptionist. We know that sometimes it’s something and you middle most this job was posted less than five minutes ago, and we think it’s a good match for you. If you submit a proposal now, you’ll be one of the first candidates. You may even catch the client while they’re still online.</p>
          <button type="button" class="services__itemHover--button">X</button>
        </div>
      </div>
      <div class="col-40 col-xs-12 col-md-12">
        <div class="services__item">
          <div class="services__item--description color">
            <h3>LOREM IPSUM DOLOR.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae fugit, optio, eligendi doloremque dolore ab.</p>
            <div class="services__item--morebtn">
              <a href="#">KNOW MORE</a>
            </div>
          </div>
        </div>
        <div class="services__itemHover">
          <h3>DESIGNING IS THE COOL LOVE FOR</h3>
          <p>Our most popular service is our Virtual Receptionist. We know that sometimes it’s something and you middle most this job was posted less than five minutes ago, and we think it’s a good match for you. If you submit a proposal now, you’ll be one of the first candidates. You may even catch the client while they’re still online.</p>
          <button type="button" class="services__itemHover--button btn-col-40">X</button>
        </div>
      </div>
    </div>
    <div class="row mar-10 row-xs row-md mar-md-10">
      <div class="col-40 col-xs-12 col-md-12">
        <div class="services__item">
          <div class="services__item--description color">
            <h3>LOREM IPSUM DOLOR.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae fugit, optio, eligendi doloremque dolore ab.</p>
            <div class="services__item--morebtn">
              <a href="#">KNOW MORE</a>
            </div>
          </div>
        </div>
        <div class="services__itemHover">
          <h3>DESIGNING IS THE COOL LOVE FOR</h3>
          <p>Our most popular service is our Virtual Receptionist. We know that sometimes it’s something and you middle most this job was posted less than five minutes ago, and we think it’s a good match for you. If you submit a proposal now, you’ll be one of the first candidates. You may even catch the client while they’re still online.</p>
          <button type="button" class="services__itemHover--button btn-col-40">X</button>
        </div>
      </div>
      <div class="col-60 col-xs-12 col-md-12">
        <div class="services__item">
          <div class="services__item--description color">
            <h3>LOREM IPSUM DOLOR.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae fugit, optio, eligendi doloremque dolore ab.</p>
            <div class="services__item--morebtn">
              <a href="#">KNOW MORE</a>
            </div>
          </div>
        </div>
        <div class="services__itemHover">
          <h3>DESIGNING IS THE COOL LOVE FOR</h3>
          <p>Our most popular service is our Virtual Receptionist. We know that sometimes it’s something and you middle most this job was posted less than five minutes ago, and we think it’s a good match for you. If you submit a proposal now, you’ll be one of the first candidates. You may even catch the client while they’re still online.</p>
          <button type="button" class="services__itemHover--button">X</button>
        </div>
      </div>
    </div>
  </div>
</section>
