<section class="team" id="team">
  <div class="container container-xs container-md">
    <div class="team__header allHeaders">
      <h2>SMALL TEAM</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <div class="row pad-10 row-xs row-md pad-md-10">
      <div class="col-4 col-xs-12 col-md-6">
        <div class="team__item">
          <img src="images/team/employee.png" alt="">
          <div class="team__item--hover">
            <h3>AL RAYHAN <span>/ UI/UX DESIGNER</span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores eligendi quibusdam rem expedita ad, tenetur, cupiditate.</p>
            <div class="team__item--hover--socials">
              <a href="#">
                <div class="team__item--hover--socials--item">
                <img src="images/social/facebook__hover.png" alt="">
              </div>
            </a>
              <a href="#">
                <div class="team__item--hover--socials--item">
                  <img src="images/social/twitter__hover.png" alt="">
                </div>
              </a>
              <a href="#">
                <div class="team__item--hover--socials--item">
                  <img src="images/social/ball__hover.png" alt="">
                </div>
              </a>
              <a href="#">
                <div class="team__item--hover--socials--item">
                  <img src="images/social/mail__hover.png" alt="">
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 col-xs-12 col-md-6">
        <div class="team__item">
          <img src="images/team/employee2.png" alt="">
          <div class="team__item--hover">
            <h3>AL RAYHAN <span>/ UI/UX DESIGNER</span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores eligendi quibusdam rem expedita ad, tenetur, cupiditate.</p>
            <div class="team__item--hover--socials">
              <a href="#">
                <div class="team__item--hover--socials--item">
                <img src="images/social/facebook__hover.png" alt="">
              </div>
            </a>
              <a href="#">
                <div class="team__item--hover--socials--item">
                  <img src="images/social/twitter__hover.png" alt="">
                </div>
              </a>
              <a href="#">
                <div class="team__item--hover--socials--item">
                  <img src="images/social/ball__hover.png" alt="">
                </div>
              </a>
              <a href="#">
                <div class="team__item--hover--socials--item">
                  <img src="images/social/mail__hover.png" alt="">
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 col-xs-12 col-md-6">
        <div class="team__item">
          <img src="images/team/employee3.png" alt="">
          <div class="team__item--hover">
            <h3>AL RAYHAN <span>/ UI/UX DESIGNER</span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores eligendi quibusdam rem expedita ad, tenetur, cupiditate.</p>
            <div class="team__item--hover--socials">
              <a href="#">
                <div class="team__item--hover--socials--item">
                <img src="images/social/facebook__hover.png" alt="">
              </div>
            </a>
              <a href="#">
                <div class="team__item--hover--socials--item">
                  <img src="images/social/twitter__hover.png" alt="">
                </div>
              </a>
              <a href="#">
                <div class="team__item--hover--socials--item">
                  <img src="images/social/ball__hover.png" alt="">
                </div>
              </a>
              <a href="#">
                <div class="team__item--hover--socials--item">
                  <img src="images/social/mail__hover.png" alt="">
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row pad-10 row-xs row-md pad-md-10">
      <div class="col-4 col-xs-12 col-md-6">
        <div class="team__item">
          <img src="images/team/employee2.png" alt="">
          <div class="team__item--hover">
            <h3>AL RAYHAN <span>/ UI/UX DESIGNER</span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores eligendi quibusdam rem expedita ad, tenetur, cupiditate.</p>
            <div class="team__item--hover--socials">
              <a href="#">
                <div class="team__item--hover--socials--item">
                <img src="images/social/facebook__hover.png" alt="">
              </div>
            </a>
              <a href="#">
                <div class="team__item--hover--socials--item">
                  <img src="images/social/twitter__hover.png" alt="">
                </div>
              </a>
              <a href="#">
                <div class="team__item--hover--socials--item">
                  <img src="images/social/ball__hover.png" alt="">
                </div>
              </a>
              <a href="#">
                <div class="team__item--hover--socials--item">
                  <img src="images/social/mail__hover.png" alt="">
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 col-xs-12 col-md-6">
        <div class="team__item">
          <img src="images/team/employee3.png" alt="">
          <div class="team__item--hover">
            <h3>AL RAYHAN <span>/ UI/UX DESIGNER</span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores eligendi quibusdam rem expedita ad, tenetur, cupiditate.</p>
            <div class="team__item--hover--socials">
              <a href="#">
                <div class="team__item--hover--socials--item">
                <img src="images/social/facebook__hover.png" alt="">
              </div>
            </a>
              <a href="#">
                <div class="team__item--hover--socials--item">
                  <img src="images/social/twitter__hover.png" alt="">
                </div>
              </a>
              <a href="#">
                <div class="team__item--hover--socials--item">
                  <img src="images/social/ball__hover.png" alt="">
                </div>
              </a>
              <a href="#">
                <div class="team__item--hover--socials--item">
                  <img src="images/social/mail__hover.png" alt="">
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 col-xs-12 col-md-6">
        <div class="team__item">
          <img src="images/team/employee.png" alt="">
          <div class="team__item--hover">
            <h3>AL RAYHAN <span>/ UI/UX DESIGNER</span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores eligendi quibusdam rem expedita ad, tenetur, cupiditate.</p>
            <div class="team__item--hover--socials">
              <a href="#">
                <div class="team__item--hover--socials--item">
                <img src="images/social/facebook__hover.png" alt="">
              </div>
            </a>
              <a href="#">
                <div class="team__item--hover--socials--item">
                  <img src="images/social/twitter__hover.png" alt="">
                </div>
              </a>
              <a href="#">
                <div class="team__item--hover--socials--item">
                  <img src="images/social/ball__hover.png" alt="">
                </div>
              </a>
              <a href="#">
                <div class="team__item--hover--socials--item">
                  <img src="images/social/mail__hover.png" alt="">
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
