body {
  margin: 0;
  font-family: 'montserrat';
  font-weight: normal;
}
*{
  box-sizing: border-box;
  color: #505050;
}
img {
  width: 100%;
}
h2{
  margin: 0;
  color: black;
}
button{
  outline: none;
}
a{
  text-decoration: none;
}
.col-2 {
  width: 16.666%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.333%;
}
.col-6 {
  width: 50%;
}
.col-8{
  width: 66.666%;
}
.col-10{
  width: 83.333%;
}
.col-12{
  width: 100%;
}
.col-60{
  width: 60%;
}
.col-40{
  width: 40%;
}
.allHeaders{
  text-align: center;
  padding: 100px 0;
}
.allHeaders p{
  font-size: 18px;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.pad-10{
  margin: 0 -10px;
}
.pad-10 > div{
  padding: 0 10px;
}
.mar-10{
  margin: 0 -10px;
}
.mar-10 > div{
  margin: 0 10px;
}
.pad-25{
  margin: 0 -25px;
}
.pad-25 > div{
  padding: 0 25px;
}
.pad-50{
  margin: 0 -50px;
}
.pad-50 > div{
  padding: 0 50px;
}
.row {
  display: flex;
  justify-content: space-between;
}
.header{
  position: absolute;
  left: 0;
  right: 0;
  top: 65px;
}
.header__navigation{
  position: relative;
  top:10px;
}
.header__navigation--burger{
  position: absolute;
  display: none;
  list-style-type: none;
  background: #71f6eb;
  right: -10px;
  top: -10px;
  border-radius: 5px;
}
.header__navigation--burger:target{
  display: block;
}
.header__navigation--burger ul {
  display: flex;
  list-style-type: none;
  font-size: 20px;
  padding: 0 10px;
}
.header__navigation--burger ul > li {
  margin: 0 10px;
  white-space: nowrap;
}
.banner {
  background: url(../images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner__description {
  text-align: center;
  padding: 100px;
  font-weight: 700;
}
.banner__description h1{
  text-shadow: #a7a7a7 2px 3px 5px ;
}
.spanBanner{
  background-color: #baf9f4;
  padding: 0 5px;
}
.banner__description--contactUsbtn {
  margin-top: 100px;
  border: 1px solid black;
  padding: 10px 30px;
}
.banner__description--contactUsbtn:hover{
  background: #adebe7;
  cursor: pointer;
}
.aboutUs,.services, .comments{
  background: #f9fbfb;
}
.aboutUs{
  padding-bottom: 110px;
}
.aboutUs__slideShow--dots{
  text-align: center;
  padding-top: 10px;
}
.aboutUs__slideShow{
  text-align: center;
}
.aboutUs__slideShow--image img{
  width: 80%;
}
.spanSlideShow{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 35%;
  background: grey;
}
.aboutUs__description{
  line-height: 1.5;
  padding-top: 30px;
  max-width: 480px;
}
.featuredWorks__content > .row:nth-child(2n){
  padding: 10px 0;
}
.featuredWorks{
  padding-bottom: 110px;
}
.featuredWorks__content > .row > .col-4 > img:hover{
  box-shadow: 0 0 10px 4px #acacac;
  cursor: pointer;
}
.services > .container > .row > .col-60{
  background: url(../images/services/item-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 420px;
  z-index: 1;
}
.services > .container > .row > .col-40{
  background: url(../images/services/item-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 420px;
  z-index: 1;
}
.services__item{
  position: relative;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  width: 100%;
  height: 100%;
}
.col-60 > .services__itemHover{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background: #71f6eb;
  padding: 60px 100px 60px 60px;
  line-height: 1.5;
}
.col-40 > .services__itemHover{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background: #71f6eb;
  padding: 60px;
  line-height: 1.5;
}
.col-60:hover .services__itemHover{
  display: block;
  z-index: 3;
}
.col-40:hover .services__itemHover{
  display: block;
  z-index: 3;
}
.services__itemHover--button{
  border: none;
  background: #71f6eb;
  font-size: 20px;
  padding-top: 80px;
  cursor: pointer;
}
.btn-col-40{
  padding-top: 30px;
}
.services__item--description{
  position: absolute;
  top: 180px;
  bottom: 70px;
  left: 65px;
  z-index: 3;
  color: #fff!important;
  max-width: 380px;
  line-height: 1.5;
}
.color h3{
  color: #fff;
}
.color p{
  color: #cac9c9;
}
.services__item--morebtn a{
  color: #cac9c9;
}
.services__item--morebtn::after{
  content: "→";
  color: #cac9c9;
  padding-left: 5px;
}
.services > .container > .row:nth-child(2n){
  margin-top: 10px;
  margin-bottom: 10px;
}
.team > .container > .row:nth-child(2n+1){
  padding: 20px 0;
}
.team__item{
  position: relative;
  cursor: pointer;
}
.team__item > .team__item--hover{
  height: 250px;
  position: absolute;
  top: 150px;
  bottom: 15px;
  left: 0;
  right: 0;
  display: none;
  background: #71f6eb;
  line-height: 1.5;
}
.team__item:hover .team__item--hover{
  display: block;
  z-index: 3;
}
.team__item--hover{
  padding: 20px;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
}
.team__item--hover::before{
  content: '';
  position: absolute;
  left: 20px;
  top: -24px;
  border: 10px solid transparent;
  border-bottom: 15px solid #71f6eb;
}
.team__item--hover > h3 > span{
  font-size: 15px;
  color: #7e7e7e;
  font-style: italic;
}
.team__item--hover--socials{
  display: flex;
}
.team__item--hover--socials--item{
  padding: 0 5px;
}
.team__item--hover--socials--item:hover{
  border-bottom: 1px solid black;
}
.comments__photoSlideShow{
  text-align: center;
}
.comments__photoSlideShow--image img{
  width: 65%;
}
.comments__commentsSlideShow{
  background: #eaebed;
  text-align: center;
  padding: 60px 80px 50px 80px;
  margin-top: 40px;
  line-height: 1.5;
  min-height: 360px;
}
.comments > .container > .row{
  position: relative;
}
.comments__photoSlideShow--dots{
  text-align: center;
  padding-top: 10px;
}
.comments__commentsSlideShow--stars{
  font-size: 0;
  display: inline-block;
  padding-top: 10px;
}
.comments__commentsSlideShow--stars span {
	padding: 0;
	font-size: 20px;
	line-height: 1;
	color: lightgrey;
}
.comments__commentsSlideShow--stars > span:before {
	content: '★';
}
.comments__commentsSlideShow--stars > span.spanStars {
	color: gold;
}
.comments__commentsSlideShow > h3 > span{
  font-size: 15px;
  color: #7e7e7e;
  font-style: italic;
}
.comments{
  padding-bottom: 100px;
}
.comments__switcherSlideShow{
  text-align: right;
  margin-top: 40px;
}
.comments__switcherSlideShow--button{
  font-size: 30px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: none;
  color: #b2b2b2;
  outline: none;
}
.comments__switcherSlideShow--button:hover{
  background: #71f6eb;
  color: #25514d;
  cursor: pointer;
}
.comments__switcherSlideShow--button:first-child{
  margin-right: 20px;
}
.partners{
  padding: 120px 0;
}
section.contactUsAndMap{
  min-height: 100vh;
  background: url("../images/messageandmap1.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.contactUsAndMap__sendMessage--input,
.contactUsAndMap__sendMessage--textarea{
  width: 100%;
  height: 60px;
  border: none;
  border-bottom: 1px solid #66757f;
  background: rgba(73, 88, 98, -4);
  color: #fff;
  outline: none;
  font-size: 18px;
}
.contactUsAndMap__sendMessage--input::placeholder,
.contactUsAndMap__sendMessage--textarea::placeholder{
  color: #66757f;
}
.contactUsAndMap__sendMessage--textarea{
  height: 130px;
  resize: none;
  padding-top: 10px;
}
.contactUsAndMap__Map,.contactUsAndMap__sendMessage{
  background: rgba(42, 59, 72, 0.84);
}
.contactUsAndMap__sendMessage,
.contactUsAndMap__Map{
  padding: 40px 20px 20px 20px;
}
.contactUsAndMap{
  padding: 120px 0;
}
.contactUsAndMap__sendMessage--button{
  margin-top: 40px;
  font-size: 18px;
  padding: 10px 35px;
  border-radius: 2px;
  border: none;
  color: #214744;
  outline: none;
  background: #6eeee4;
}
.contactUsAndMap__sendMessage--button:hover{
  background: #74fcf1;
  color: #285854;
  cursor: pointer;
}
.contactUsAndMap__Map p{
  margin: 0;
  color: #a6aeb3;
}
.contactUsAndMap__Map p > a{
  margin: 0;
  color: #a6aeb3;
}
.contactUsAndMap__Map {
  color: #a6aeb3;
  line-height: 1.5;
}
.contactUsAndMap__Map--map{
  margin-top: 19px;
}
footer.footer > .container h3{
  margin: 0;
  text-align: center;
  color: #bdbebf;
  padding-bottom: 20px;
}
.footer{
  background: #262b2e;
  padding: 90px 0;
  text-align: center;
}
.footer > .container > .row {
  justify-content: center;
}
.footer__socialContacts{
  background: #424648;
  padding: 12px 12px 10px;
  margin: 0 5px;
  width: 45px;
  height: 45px;
}
.footer__socialContacts:hover{
  background: #6eeee4;
}
.footer__socialContacts--facebook{
  margin: 0 5px;
}
.footer__socialContacts--pinterest,
.footer__socialContacts--ball,
.footer__socialContacts--twitter
{
  margin: 0 2px;
}
.footer__socialContacts--twitter,
.footer__socialContacts--pinterest,
.footer__socialContacts--ball{
  padding-top: 2px;
}
.footer__socialContacts--pinterest:nth-child(2n){
  margin: 0 5px;
}
.footer > .container > p {
  margin-top: 30px;
}

@media (max-width:768px) {
  .row-xs{
    flex-wrap: wrap;
  }
  .col-xs-2 {
    width: 16.666%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.333%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-8{
    width: 66.666%;
  }
  .col-xs-10{
    width: 83.333%;
  }
  .col-xs-12{
    width: 100%;
  }
  .container-xs{
    width: 100%;
  }
  .header{
    top: 25px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .aboutUs__description{
    margin: 0 auto;
    text-align: center;
  }
  .featuredWorks__content > .row-xs > .col-xs-12 img{
    width: 80%;
  }
  .featuredWorks__content > .row-xs > .col-xs-12{
    text-align: center;
  }
  .services > .container-xs > .row-xs > .col-xs-12{
    margin: 15px 10px;
  }
  .services__item--description {
    top: 130px;
    bottom: 0;
    left: 30px;
  }
  .col-60 > .services__itemHover,
  .col-40 > .services__itemHover {
    padding: 30px 30px 60px 30px;
  }
  .comments__commentsSlideShow {
    padding: 60px 30px 50px 30px;
  }
  .team > .container-xs > .row-xs > .col-xs-12{
    margin: 15px 0;
  }
  .services__itemHover--button {
    padding-top: 40px;
}
  .comments__commentsSlideShow{
    margin-left: 40px;
    margin-right: 40px;
  }
  .comments__switcherSlideShow{
    margin-right: 40px;
  }
  .partners{
    margin-left: 40px;
    margin-right: 40px;
  }
  .contactUsAndMap > .container-xs > .row-xs > .col-xs-12{
    margin: 15px;
  }
  .header__navigation--burger ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  .header__navigation--burger ul > li {
    padding: 5px;
  }
  .header__navigation--burger {
    top:-40px;
  }
}
@media (min-width:769px) and (max-width:1024px) {
  .row-md{
    flex-wrap: wrap;
    justify-content: center;
  }
  .col-md-2 {
    width: 16.666%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-8{
    width: 66.666%;
  }
  .col-md-10{
    width: 83.333%;
  }
  .col-md-12{
    width: 100%;
  }
  .container-md{
    width: 994px;
  }
  .pad-md-20{
    margin: 0 -20px;
  }
  .pad-md-20 > div{
    padding: 0 20px;
  }
  .pad-md-10{
    margin: -10px;
  }
  .pad-md-10 > div{
    padding: 10px;
  }
  .mar-md-10{
    margin: -10px 0;
  }
  .mar-md-10 > div{
    margin: 10px 0;
  }
  .header{
    top: 25px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .team > .container > .row:nth-child(2n+1) {
     padding: 0;
  }
  .contactUsAndMap__Map {
    height: 100%;
  }
  .header__navigation--burger ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  .header__navigation--burger ul > li {
    padding: 5px;
  }
  .header__navigation--burger {
    top:-40px;
  }
  .comments__commentsSlideShow {
    padding: 20px 40px;
    min-height: 280px;
  }
  section.team{
    padding-bottom: 40px;
  }
}
