@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');

body {
  background: rgba(255, 117, 232, 0.63);
  font-family: 'Montserrat', serif;
}

// * {
//   box-sizing: border-box;
//   font-size: 16px;
// }

// img {
//   width: 400px;
//   height: 300px;
// }

h2 {
  color: #fff;
  font-size: 25px;
  margin: 20px;
}

 @import "app/_scss-core/_core";

 @import "scss/helpers";

 @import "scss/typography";

// @import "scss/example_1";

// @import "scss/lesson-27";

@import "scss/lesson-28";






