button {
    display: block;
    color: #fff;
    background-color: #007bff;
    font-size: 16px;
    padding: 6px 12px;
    margin: 20% auto;
    border: 1px solid transparent;
    border-color: #007bff;
    text-align: center;
    white-space: nowrap;
    border-radius: 4px;
}

button.focus, button:focus {
    box-shadow: 0 0 0 4px rgba(0,123,255,.5);
}

button:hover {
    color: rgb(228, 90, 101);
}

.modal {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
    }

.modal-body {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 498px;
    height: 190px;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    outline: 0;
    margin: 27px auto;
    -webkit-animation: rotation 2s linear;
}

    @-webkit-keyframes rotation {
        from {transform: rotate(0)
            scale(0.1);}
        50%  {transform: rotate(180deg)
            scale(0.5);} 
        to {transform: rotate(360deg) scale(1);}
    }

.modal-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

h5 {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 16px;
    margin-bottom: 16px;
    font-family: Arial,sans-serif;
    font-weight: bold;
}

.close {
   align-items: flex-end;
   color: rgba(105, 105, 103, 0.856);
   font-size: 24px;
   margin-top: 16px;
   margin-right: 16px;
   margin-bottom: 16px;
   font-weight: bold;
   cursor: pointer;
}

.close:hover {
   transform: scale(2);
}

.modal-text {
    color: #6c757d;
    position: relative;
    font-size: 16px;
    font-family: Arial,sans-serif;
    margin-top: 20px;
    margin-left: 16px;
    margin-bottom: 25px;
}

.modal-btn {
    display: flex;
    border-top: 1px solid #e9ecef;
    font-weight: 400;
    text-align: end;
    white-space: nowrap;
    border-radius: 4px;
}

.btn-m2 {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    font-size: 14px;
    margin-top: 16px;
    margin-left: 280px;
    margin-bottom: 16px;
}

.btn-m2:hover {
    color: red;
    transform: scale(1.1);
}

.btn-m2.focus, .btn-m2:focus {
    box-shadow: 0 0 0 4px rgba(228, 12, 12, 0.212);
}

.btn-m1 {
    color: #fff;
    background-color: #007bff;
    font-size: 14px;
    border: 1px solid transparent;
    border-color: #007bff;
    margin-top: 16px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.btn-m1:hover {
    color: rgb(34, 250, 34);
    transform: scale(1.1);
}

.btn-m1.focus, .btn-m1:focus {
    box-shadow: 0 0 0 4px rgba(34, 250, 34, 0.384);