body{height: 1000px;
background-color: aquamarine;
text-align: center;
border: 2px; }
#modal{
    position: fixed;
    z-index: 100;
    left: 10px;
    top: 20px;
    right: 30px;
    bottom: 40px;
    background: rgba(0, o, 0, 0);
    display: none;
    border: chartreuse;
    text-align: center;
}
.red{background-color: brown;}
.p{border: 2px solid #ffff00;
    padding: 10px 20px 10px 20px;
    margin: 20px;}
.q{border: 2px solid #ff008c;
    padding: 10px 20px 10px 20px;
    margin: 20px;
background-color: darkkhaki;}
.js-open{background-color: fuchsia;}
.q1{border: 2px solid #ff3300;
    padding: 10px 20px 10px 20px;
    margin: 20px;
    background-color: rgb(0, 255, 42);
    font-size:50px;
    font-style: oblique;
}
